{include file="common:header_public" /}
</head>
<body class="hold-transition login-page">
<div class="login-box">
  <div class="login-logo">
    <a href="{:url('Admin/index/index')}">蓝天采集器</a>
  </div>
  <div class="login-box-body">
    <p class="login-box-msg">{$Think.lang.find_password}</p>
	<form action="{:url('Admin/index/find_password')}" ajax-submit="true" method="post">
	{:html_usertoken()}
	<input type="hidden" name="subForPwd" value="1" />
	<input type="hidden" name="step" value="{$step}" />
{if condition="$step elt 1"}	
	<div class="form-group">
		<div class="input-group">
			<span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
			<input type="text" name="username" class="form-control" placeholder="{$Think.lang.find_pwd_username}" />
		</div>
	</div>
	{if condition="$GLOBALS['_sc']['c']['site']['verifycode']"}	
	<div class="form-group">
		<div class="input-group">
			<input type="text" name="verifycode" class="form-control" placeholder="{$Think.lang.verifycode}" />
			<div class="input-group-btn"><img src="{:url('Admin/Index/verify')}" class="verify-img" onclick="refreshVerify(this)" /></div>
		</div>
	</div>
	{/if}
	<div class="form-group">
		<button class="btn btn-info btn-block" type="submit">{$Think.lang.find_pwd_next_step}</button>
	</div>
{elseif condition="$step eq 2"/}
	<input type="hidden" name="username" value="{$username}" />
	<div class="form-group">
		<div class="input-group">
			<span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
			<input type="text" name="username1" value="{$username}" class="form-control" disabled="disabled" />
			<span class="input-group-addon"><a href="javascript:window.location.reload()">{$Think.lang.find_pwd_resend}</a></span>
		</div>
	</div>
	<div class="alert alert-{$emailStatus['success']?'success':'warning'}" role="alert">{$emailStatus['msg']}</div>
	<div class="form-group">
		<div class="input-group">
			<span class="input-group-addon"><span class="glyphicon glyphicon-certificate"></span></span>
			<input type="text" name="yzm" class="form-control" placeholder="{$Think.lang.find_pwd_yzm}" />
		</div>
	</div>
	<div class="form-group">
		<button class="btn btn-info btn-block" type="submit">{$Think.lang.find_pwd_next_step}</button>
	</div>
	{if condition="!$emailStatus['success']"}
	<div class="alert alert-success">
		手动修改：在数据库{:config('database.prefix')}user表中，将username为“{$username}”的password值改为“{$newPwdEncrypt}”
		即密码为“{$newPwd}”，再登录后台修改密码
	</div>
	{/if}
{elseif condition="$step eq 3"/}
	<input type="hidden" name="username" value="{$username}" />
	<div class="form-group">
		<div class="input-group">
			<span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
			<input type="text" value="{$userData['username']}" class="form-control" disabled="disabled" />
		</div>
	</div>
	<div class="form-group">
		<div class="input-group">
			<span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
			<input type="password" name="password" class="form-control" placeholder="{$Think.lang.find_pwd_pwd}" />
		</div>
	</div>
	<div class="form-group">
		<div class="input-group">
			<span class="input-group-addon"><span class="glyphicon glyphicon-repeat"></span></span>
			<input type="password" name="repassword" class="form-control" placeholder="{$Think.lang.find_pwd_repwd}" />
		</div>
	</div>
	<div class="form-group">
		<button class="btn btn-info btn-block" type="submit">{$Think.lang.submit}</button>
	</div>
{/if}
	</form>
	</div>
</div>
{include file="common:footer_public" /}