<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
	<title>蓝天采集器 SkyCaiji 安装</title>
	<!-- Bootstrap core CSS -->
	<link rel="stylesheet" href="__PUBLIC__/bootstrap/css/bootstrap.min.css?{$Think.config.html_v}">
	
	<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
	<link href="__PUBLIC__/static/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
	
	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	<script src="__PUBLIC__/addon/adminlte/html5shiv.min.js?{$Think.config.html_v}"></script>
	<script src="__PUBLIC__/addon/adminlte/respond.min.js?{$Think.config.html_v}"></script>
	<![endif]-->
	
  	<!-- jQuery 3.1.1 -->
	<script src="__PUBLIC__/jquery/jquery.min.js?{$Think.config.html_v}"></script>
	<!-- else -->
	<script type="text/javascript" src="__PUBLIC__/static/js/base64.min.js?{$Think.config.html_v}"></script>
  	<link href="__PUBLIC__/static/css/toastr.css?{$Think.config.html_v}" rel="stylesheet" type="text/css">
  	<script src="__PUBLIC__/static/js/toastr.js?{$Think.config.html_v}"></script>
	<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
	<script src="__PUBLIC__/static/js/ie10-viewport-bug-workaround.js?{$Think.config.html_v}"></script><!-- jQuery UI 1.11.4 -->
	<script src="__PUBLIC__/addon/adminlte/jquery-ui.min.js?{$Think.config.html_v}"></script>
	<!-- Bootstrap 3.3.7 -->
	<script src="__PUBLIC__/bootstrap/js/bootstrap.min.js?{$Think.config.html_v}"></script>
  	<!-- custom -->
	<link href="__PUBLIC__/static/css/install.css" rel="stylesheet">
	<script src="__PUBLIC__/static/js/common.js?{$Think.config.html_v}"></script>
	<script type="text/javascript">var site_config={root:"__ROOT__",'pub':"__PUBLIC__"};</script>