{extend name="common:main_clean" /}
{block name="cssjs"}
<link rel="stylesheet" href="__PUBLIC__/static/css/cpattern_browser.css?{$Think.config.html_v}">
<script type="text/javascript" src="__PUBLIC__/static/js/admin/cpattern_browser.js?{$Think.config.html_v}"></script>
<script src="__PUBLIC__/static/js/admin/tool_json_tree.js?{$Think.config.html_v}"></script>
{/block}
{block name="content"}
<div class="form-group" style="padding-top:10px;">
	<label>抓取到JSON字符串</label>
	<textarea id="txt_json" rows="3" class="form-control">{$jsonHtml|htmlspecialchars}</textarea>
</div>
<label>JSON解析</label>
<div id="tool_json_tree"></div>

<script type="text/javascript">
'use strict';//严格模式
$(document).ready(function(){
	window.tool_json_tree.treeId='#tool_json_tree';
	window.tool_json_tree.load($('#txt_json').val());
});
</script>
{/block}
