<form id="form_level_url" method="post" action="{:url('Cpattern/level_url')}">
{:html_usertoken()}
	<input type="hidden" name="is_submit" value="1" />
	<input type="hidden" name="objid" value="{$objid}" />
	<div class="form-group">
   		<label class="control-label">多级页名称</label>
   		<input type="text" class="form-control" name="level_url[name]" placeholder=""/>
	</div>
	{include file="cpattern:set_page" _page_type="level_url" /}
	<div class="form-group form-group-sm">
 		<button type="submit" class="btn btn-primary btn-block">确定</button>
 	</div>
</form>
<script type="text/javascript">
{if condition="$level_url"}
c_pattern.cpLevelUrl.init({$level_url|json_encode});
{else /}
c_pattern.cpLevelUrl.init();
{/if}
</script>