<div id="window_process">
	<div class="form-group">
		<div class="input-group">
			<span class="input-group-addon">处理方式</span>
			<select name="process[module]" class="form-control">
				<option value="">请选择</option>
				<option value="html">{$Think.lang.process_module_html}</option>
				<option value="replace">{$Think.lang.process_module_replace}</option>
				<option value="batch">{$Think.lang.process_module_batch}</option>
				<option value="filter">{$Think.lang.process_module_filter}</option>
				<option value="if">{$Think.lang.process_module_if}</option>
				<option value="substr">{$Think.lang.process_module_substr}</option>
				<option value="translate">{$Think.lang.process_module_translate}</option>
				<option value="tool">{$Think.lang.process_module_tool}</option>
				<option value="func">{$Think.lang.process_module_func}</option>
			</select>
			<span class="input-group-btn">
		    	<button class="btn btn-default process-add" type="button">添加</button>
			</span>
		</div>
	</div>
	{include file="cpattern:process_module" /}
	{if condition="empty($type)"}	
	<form id="form_process" method="post" action="{:url('Cpattern/process?op=sub')}" style="display:none;">
	<input type="hidden" name="objid" value="{$objid}" />
		<div class="form-group">
			<div class="panel-group c-p-process-accordion">
			</div>
		</div>
		<div class="form-group form-group-sm">
	 		<button type="submit" class="btn btn-primary btn-block">确定</button>
	 	</div>
	</form>
	{/if}
</div>
<script type="text/javascript">
{if condition="empty($type)"}
	{if condition="!empty($process)"}
	c_pattern.process_op('init',{process:{$process|json_encode}});
	{else /}
	c_pattern.process_op('init');
	{/if}
{elseif condition="$type eq 'common'" /}
	c_pattern.process_op('init',{formObj:'#coll_pattern_process'});
{/if}
</script>