<extend name="Common:main" />
<block name="cssjs">

</block>
<block name="content">
<div class="nav-tabs-custom">
	<ul class="nav nav-tabs">
    	<li class="active"><a href="{:U('Setting/Caiji')}">采集设置</a></li>
    	<li><a href="{:U('Setting/Proxy')}">代理设置</a></li>
	</ul>
	<div class="tab-content">
		<div class="tab-pane active" style="padding:0px 5px;">
		<form id="form_set" method="post" ajax-submit="true" role="form" action="{:U('Admin/Setting/caiji')}">
		    <div class="form-group">
		        <label>{$Think.lang.set_caiji_auto}</label>
		        <div class="input-group">
		        	<label class="radio-inline"><input type="radio" name="auto" value="1">{$Think.lang.yes}</label>
		        	<label class="radio-inline"><input type="radio" name="auto" value="0">{$Think.lang.no}</label>
		        </div>
		        <p class="help-block">此设置为总控制开关，如设置“否”则任务中的自动采集设置不生效</p>
		    </div>
		    <div class="form-group" id="set_caiji_run" style="display:none;">
		        <label>{$Think.lang.set_caiji_run}</label>
		        <select name="run" class="form-control">
		        	<option value="backstage">后台运行（默认）</option>
		        	<option value="visit">访问触发（推荐）</option>
		        </select>
		        <p class="help-block run-backstage">将在PHP后台开启一个持续进程用来运行采集，会占用一些服务器资源</p>
		        <p class="help-block run-visit" style="display:none;">
		        	需在您的网站底部模板中加入一条html代码：<br/>
		        	<em><b>&lt;script src="{:U('Admin/Index/caiji',null,false,true)}"&gt;&lt;/script&gt;</b></em>
					<br/>添加后，用户访问页面时即可触发采集，该方法不会额外消耗服务器资源
		        </p>
		    </div>
		    <div class="form-group">
		        <label>{$Think.lang.set_caiji_num}</label>
		        <input type="number" name="num" class="form-control" value="{$caijiConfig['num']}">
		        <p class="help-block">每次采集的数据量，留空或0表示采完为止</p>
		    </div>
		    <div class="form-group">
		        <label>{$Think.lang.set_caiji_interval}（单位：分钟）</label>
		        <input type="number" name="interval" class="form-control" value="{$caijiConfig['interval']}">
		        <p class="help-block">可轮询目标的数据更新且有效减轻服务器压力，强烈建议设置时间！留空或0表示不限制（采集量大会造成服务器过载）</p>
		    </div>
		    <div class="form-group">
		        <label>{$Think.lang.set_caiji_timeout}（单位：分钟）</label>
		        <input type="number" name="timeout" class="form-control" value="{$caijiConfig['timeout']}">
		        <p class="help-block">无论是否采集完毕，到达设置的时间则立刻终止采集，可防止采集太久造成服务器卡顿，留空或0表示不限制</p>
		    </div>
		    <div class="form-group">
		        <label>页面抓取间隔（单位：秒）</label>
		        <input type="number" name="html_interval" class="form-control" value="{$caijiConfig['html_interval']}">
		        <p class="help-block">可防止页面抓取频率太快造成目标网站响应超时或宕机，留空或0表示不限制</p>
		    </div>
		    <div class="form-group">
		        <label>图片本地化</label>
		        <div class="input-group">
			        <label class="radio-inline"><input type="radio" name="download_img" value="1">是</label>
					<label class="radio-inline"><input type="radio" name="download_img" value="0">否</label>
		        </div>
		        <p class="help-block">将远程图片下载保存到{:C('ROOTPATH')}\data\images目录</p>
		    </div>
		   	<div class="form-group">
				<button type="submit" class="btn btn-primary btn-block">{$Think.lang.save}</button>
			</div>
		</form>
		</div>
	</div>
</div>
		
<script type="text/javascript">
$('#form_set [name="auto"]').bind('click',function(){
	if($(this).val()>0){
		$('#set_caiji_run').show();
	}else{
		$('#set_caiji_run').hide();
	}
});

$('#form_set [name="run"]').bind('change',function(){
	$('#set_caiji_run .help-block').hide();
	$('#set_caiji_run .run-'+$(this).val()).show();
});

$('#form_set [name="auto"][value="{$caijiConfig[auto]|intval}"]').trigger("click");
$('#form_set [name="run"]').val("{$caijiConfig[run]?$caijiConfig[run]:'backstage'}").trigger("change");
$('#form_set [name="download_img"][value="{$caijiConfig[download_img]|intval}"]').prop('checked',true);
</script>
</block>