{extend name="common:main" /}
{block name="cssjs"}

{/block}
{block name="content"}
<form id="form_set" method="post" ajax-submit="true" role="form" action="{:url('Admin/Setting/download_img')}">
<div class="nav-tabs-custom">
	{include file="setting/caiji_nav" /}
	<div class="tab-content">
		<div class="tab-pane active" style="padding:0px 5px;">
		    <div class="form-group">
		        <label>开启功能</label>
		        <div class="input-group">
			        <label class="radio-inline"><input type="radio" name="download_img" value="1">是</label>
					<label class="radio-inline"><input type="radio" name="download_img" value="0">否</label>
		        </div>
		        <p class="help-block">将远程图片下载到本地服务器</p>
		    </div>
		    <div id="set_download_img" style="display:none;">
		        <div class="form-group">
		        	<label>图片保存目录（绝对路径）</label>
		        	<input type="text" name="img_path" class="form-control" placeholder="默认{:config('root_path')}\data\images" value="{$imgConfig['img_path']}">
			   		<p class="help-block">可设置为服务器中的任意文件夹（必须开启读写权限），如果保存到本程序中，目录必须在data文件夹里</p>	        
			    </div>
			    <div class="form-group">
		        	<label>图片链接地址（绝对地址）</label>
		        	<input type="text" name="img_url" class="form-control" placeholder="默认{:config('root_website')}/data/images" value="{:htmlspecialchars($imgConfig['img_url'],ENT_QUOTES)}">
			    	<p class="help-block">网页中可访问的图片网址目录，请务必对应到图片保存目录，否则图片无法显示</p>
			    </div>
			    <div class="form-group">
		        	<label>图片名称</label>
			       	<select name="img_name" class="form-control">
			       		<option value="">按时间生成（方便日期归类）</option>
			       		<option value="url">按网址生成（防止重复下载）</option>
			       		<option value="custom">自定义</option>
			       	</select>
			       	<div id="img_name_custom" style="margin-top:5px;display:none;">
			       		<div class="input-group">
			       			<span class="input-group-addon">目录</span>
			       			<input type="text" name="name_custom_path" class="form-control" value="{$imgConfig['name_custom_path']}" />
			       			<span class="input-group-addon" style="border-left:0;border-right:0;">名称</span>
			       			<select name="name_custom_name" class="form-control">
					       		<option value="">图片网址MD5码</option>
					       	</select>
				       	</div>
			       		<div class="help-block name-custom-path">
			       			<a href="javascript:;">[年]</a>&nbsp;
			       			<a href="javascript:;">[月]</a>&nbsp;
			       			<a href="javascript:;">[日]</a>&nbsp;
			       			<a href="javascript:;">[时]</a>&nbsp;
			       			<a href="javascript:;" title="图片网址MD5码的前两位">[前两位]</a>&nbsp;
			       			<a href="javascript:;" title="图片网址MD5码的后两位">[后两位]</a>&nbsp;
			       			用/分隔子目录
			       		</div>
			       	</div>
			    </div>
			    <div class="form-group">
		        	<label>下载超时（秒）</label>
		        	<input type="number" name="img_timeout" class="form-control" value="{$imgConfig['img_timeout']}">
			   		<p class="help-block">多少秒内未下载完，跳过下载该图片，留空或0表示不限制</p>	        
			    </div>
			    <div class="form-group">
		        	<label>下载间隔（秒）</label>
		        	<input type="number" name="img_interval" class="form-control" value="{$imgConfig['img_interval']}">
			   		<p class="help-block">可防止下载太快造成目标网站响应超时或宕机，留空或0表示不限制</p>        
			    </div>
			    <div class="form-group">
		        	<label>限制大小（MB）</label>
		        	<input type="number" name="img_max" class="form-control" value="{$imgConfig['img_max']}">
			   		<p class="help-block">超过兆数的图片不下载，留空或0表示不限制</p>        
			    </div>
		    </div>
    	</div>
	</div>
</div>
<div class="form-group">
	<button type="submit" class="btn btn-primary btn-block">{$Think.lang.save}</button>
</div>
</form>
		
<script type="text/javascript">
'use strict';//严格模式

$('#form_set [name="download_img"]').bind('click',function(){
	if($(this).val()>0){
		$('#set_download_img').show();
	}else{
		$('#set_download_img').hide();
	}
});

$('#form_set [name="img_name"]').bind('change',function(){
	if($(this).val()=='custom'){
		$('#img_name_custom').show();
	}else{
		$('#img_name_custom').hide();
	}
});

$('#form_set').on('click','.name-custom-path a',function(){
	insertAtCaret($('[name="name_custom_path"]'),$(this).text());
});


$('#form_set [name="download_img"][value="{$imgConfig["download_img"]|intval}"]').trigger("click");
$('#form_set [name="img_name"]').val('{$imgConfig["img_name"]}').trigger('change');
$('#form_set [name="name_custom_name"]').val('{$imgConfig["name_custom_name"]}');
</script>
{/block}