<form id="win_form_proxy_batch" method="post" action="{:url('Admin/Setting/proxyBatch')}">
    <div class="form-group">
		<label>代理IP（一行一条）</label>
    	<textarea rows="10" name="ips" class="form-control"></textarea>
    </div>
    <div class="form-group">
		<label>输入格式（对应上面每行的数据）</label>
    	<input type="text" name="format" value="[ip]:[端口]" class="form-control" />
    	<div style="margin:5px 0;" class="format">
    		<a class="label label-success">[ip]</a>
    		&nbsp;<a class="label label-success">[端口]</a>
    		&nbsp;<a class="label label-success">[用户名]</a>
    		&nbsp;<a class="label label-success">[密码]</a>
    	</div>
    </div>
   	<div class="form-group">
		<button type="submit" class="btn btn-primary btn-block">确定</button>
	</div>
</form>
<script type="text/javascript">
proxyClass.batch();
</script>