{extend name="common:main" /}
{block name="cssjs"}
<script src="__PUBLIC__/static/js/admin/setting.js?{$Think.config.html_v}"></script>
{/block}
{block name="content"}
<div class="box box-default">
	<div class="box-body">
		<form id="form_set" method="post" ajax-submit="true" role="form" action="{:url('Admin/Setting/site')}">
		{:html_usertoken()} 
		    <div class="form-group">
		        <label>关闭前台首页</label>
		        <div class="input-group">
		        	<label class="radio-inline"><input type="radio" name="hidehome" value="1">{$Think.lang.yes}</label>
		        	<label class="radio-inline"><input type="radio" name="hidehome" value="0">{$Think.lang.no}</label>
		        </div>
		        <p class="help-block">不显示前台首页，访问首页直接跳转至后台</p>
		    </div>
		    <div class="form-group">
		        <label>{$Think.lang.set_site_verifycode}</label>
		        <div class="input-group">
		        	<label class="radio-inline"><input type="radio" name="verifycode" value="1">{$Think.lang.yes}</label>
		        	<label class="radio-inline"><input type="radio" name="verifycode" value="0">{$Think.lang.no}</label>
		        </div>
		        <div id="verifycode_len" style="margin-top:10px;display:none;">
		        	<div class="input-group">
		        		<span class="input-group-addon">验证码长度</span>
		        		<input type="number" name="verifycode_len" class="form-control" value="{$siteConfig['verifycode_len']?$siteConfig['verifycode_len']:''}" placeholder="默认：3  值范围：3 - 20">
		        	</div>
			    </div>
		    </div>
		    <div class="form-group">
		        <label>登录限制</label>
		        <div class="input-group">
		        	<label class="radio-inline"><input type="radio" name="login[limit]" value="1">{$Think.lang.yes}</label>
		        	<label class="radio-inline"><input type="radio" name="login[limit]" value="0">{$Think.lang.no}</label>
		        </div>
		        <div id="login_limit" style="margin-top:10px;display:none;">
		        	<div class="input-group" style="margin-bottom:5px;">
		        		<span class="input-group-addon">登录失败</span>
		        		<input type="number" name="login[failed]" class="form-control" value="{$siteConfig['login']['failed']}">
		        		<span class="input-group-addon" style="border-left:0;">次</span>
		        	</div>
		        	<div class="input-group">
		        		<span class="input-group-addon">锁定登录</span>
			       		<input type="number" name="login[time]" class="form-control" value="{$siteConfig['login']['time']}">
			       		<span class="input-group-addon">小时</span>
			       	</div>
			    </div>
		    </div>
		    <div class="form-group">
		        <label>数据库长连接</label>
		        <div class="input-group">
		        	<label class="radio-inline"><input type="radio" name="dblong" value="1">{$Think.lang.yes}</label>
		        	<label class="radio-inline"><input type="radio" name="dblong" value="0">{$Think.lang.no}</label>
		        </div>
		        <p class="help-block">使数据库持久连接</p>
		    </div>
		    <div class="form-group">
		        <label>关闭错误日志</label>
		        <div class="input-group">
		        	<label class="radio-inline"><input type="radio" name="closelog" value="1">{$Think.lang.yes}</label>
		        	<label class="radio-inline"><input type="radio" name="closelog" value="0">{$Think.lang.no}</label>
		        </div>
		        <p class="help-block">日志文件会占用磁盘空间，非运维人员建议关闭</p>
		    </div>
		    <div class="form-group">
		        <label>关闭页面翻译</label>
		        <div class="input-group">
		        	<label class="radio-inline"><input type="radio" name="closetrans" value="1">{$Think.lang.yes}</label>
		        	<label class="radio-inline"><input type="radio" name="closetrans" value="0">{$Think.lang.no}</label>
		        </div>
		        <p class="help-block">当浏览器语言不是中文时，页面将自动翻译为相应语言</p>
		    </div>
		    <div class="form-group">
		        <label>调整时区</label>
		        <div class="input-group">
					<select class="form-control" name="timezone">
						<option value="">服务器默认</option>
						<optgroup label="协调世界时（UTC）">
							<option value="UTC">协调世界时（UTC）</option>
						</optgroup>
						<optgroup label="手动指定偏差">
							<option value="UTC-12">UTC-12</option>
							<option value="UTC-11">UTC-11</option>
							<option value="UTC-10">UTC-10</option>
							<option value="UTC-9">UTC-9</option>
							<option value="UTC-8">UTC-8</option>
							<option value="UTC-7">UTC-7</option>
							<option value="UTC-6">UTC-6</option>
							<option value="UTC-5">UTC-5</option>
							<option value="UTC-4">UTC-4</option>
							<option value="UTC-3">UTC-3</option>
							<option value="UTC-2">UTC-2</option>
							<option value="UTC-1">UTC-1</option>
							<option value="UTC+0">UTC+0</option>
							<option value="UTC+1">UTC+1</option>
							<option value="UTC+2">UTC+2</option>
							<option value="UTC+3">UTC+3</option>
							<option value="UTC+4">UTC+4</option>
							<option value="UTC+5">UTC+5</option>
							<option value="UTC+6">UTC+6</option>
							<option value="UTC+7">UTC+7</option>
							<option value="UTC+8">UTC+8</option>
							<option value="UTC+9">UTC+9</option>
							<option value="UTC+10">UTC+10</option>
							<option value="UTC+11">UTC+11</option>
							<option value="UTC+12">UTC+12</option>
							<option value="UTC+13">UTC+13</option>
							<option value="UTC+14">UTC+14</option>
						</optgroup>
						<optgroup label="亚洲">
							<option value="Asia/Vientiane">万象</option>
							<option value="Asia/Shanghai">上海</option>
							<option value="Asia/Tokyo">东京</option>
							<option value="Asia/Srednekolymsk">中科雷姆斯克</option>
							<option value="Asia/Ulaanbaatar">乌兰巴托</option>
							<option value="Asia/Ust-Nera">乌斯季涅拉</option>
							<option value="Asia/Urumqi">乌鲁木齐</option>
							<option value="Asia/Choibalsan">乔巴山</option>
							<option value="Asia/Aden">亚丁</option>
							<option value="Asia/Rangoon">仰光</option>
							<option value="Asia/Irkutsk">伊尔库茨克</option>
							<option value="Asia/Qyzylorda">克孜勒奥尔达</option>
							<option value="Asia/Krasnoyarsk">克拉斯诺亚尔斯克</option>
							<option value="Asia/Riyadh">利雅得</option>
							<option value="Asia/Kolkata">加尔各答</option>
							<option value="Asia/Kathmandu">加德满都</option>
							<option value="Asia/Gaza">加沙</option>
							<option value="Asia/Qatar">卡塔尔</option>
							<option value="Asia/Karachi">卡拉奇</option>
							<option value="Asia/Oral">口服</option>
							<option value="Asia/Kuching">古晋</option>
							<option value="Asia/Taipei">台北</option>
							<option value="Asia/Yekaterinburg">叶卡捷琳堡</option>
							<option value="Asia/Kuala_Lumpur">吉隆坡</option>
							<option value="Asia/Kabul">喀布尔</option>
							<option value="Asia/Pontianak">坤甸</option>
							<option value="Asia/Yerevan">埃里温</option>
							<option value="Asia/Kamchatka">堪察加</option>
							<option value="Asia/Tashkent">塔什干</option>
							<option value="Asia/Damascus">大马士革</option>
							<option value="Asia/Amman">安曼</option>
							<option value="Asia/Nicosia">尼科西亚</option>
							<option value="Asia/Barnaul">巴尔瑙尔</option>
							<option value="Asia/Baku">巴库</option>
							<option value="Asia/Bahrain">巴林</option>
							<option value="Asia/Baghdad">巴格达</option>
							<option value="Asia/Hebron">希伯伦</option>
							<option value="Asia/Dili">帝力</option>
							<option value="Asia/Pyongyang">平壤</option>
							<option value="Asia/Thimphu">廷布</option>
							<option value="Asia/Tehran">德黑兰</option>
							<option value="Asia/Tomsk">托木斯克</option>
							<option value="Asia/Samarkand">撒马尔罕</option>
							<option value="Asia/Brunei">文莱</option>
							<option value="Asia/Singapore">新加坡</option>
							<option value="Asia/Novokuznetsk">新库兹涅茨克</option>
							<option value="Asia/Novosibirsk">新西伯利亚</option>
							<option value="Asia/Bangkok">曼谷</option>
							<option value="Asia/Makassar">望加锡</option>
							<option value="Asia/Dushanbe">杜尚别</option>
							<option value="Asia/Jayapura">查亚普拉</option>
							<option value="Asia/Bishkek">比什凯克</option>
							<option value="Asia/Seoul">汉城</option>
							<option value="Asia/Khandyga">汉德加</option>
							<option value="Asia/Macau">澳门</option>
							<option value="Asia/Chita">知多</option>
							<option value="Asia/Colombo">科伦坡</option>
							<option value="Asia/Kuwait">科威特</option>
							<option value="Asia/Hovd">科布多</option>
							<option value="Asia/Vladivostok">符拉迪沃斯托克</option>
							<option value="Asia/Tbilisi">第比利斯</option>
							<option value="Asia/Jerusalem">耶路撒冷</option>
							<option value="Asia/Ho_Chi_Minh">胡志明市</option>
							<option value="Asia/Sakhalin">萨哈林</option>
							<option value="Asia/Beirut">贝鲁特</option>
							<option value="Asia/Dhaka">达卡</option>
							<option value="Asia/Dubai">迪拜</option>
							<option value="Asia/Omsk">鄂木斯克</option>
							<option value="Asia/Phnom_Penh">金边</option>
							<option value="Asia/Ashgabat">阿什哈巴德</option>
							<option value="Asia/Aqtobe">阿克托别</option>
							<option value="Asia/Aqtau">阿克陶</option>
							<option value="Asia/Almaty">阿拉木图</option>
							<option value="Asia/Anadyr">阿纳德尔</option>
							<option value="Asia/Jakarta">雅加达</option>
							<option value="Asia/Yakutsk">雅库茨克</option>
							<option value="Asia/Hong_Kong">香港</option>
							<option value="Asia/Magadan">马加丹</option>
							<option value="Asia/Manila">马尼拉</option>
							<option value="Asia/Muscat">马斯喀特</option>
						</optgroup>
						<optgroup label="北极">
							<option value="Arctic/Longyearbyen">朗伊尔城</option>
						</optgroup>
						<optgroup label="南极洲">
							<option value="Antarctica/Casey">凯西</option>
							<option value="Antarctica/Palmer">帕尔默</option>
							<option value="Antarctica/Davis">戴维斯</option>
							<option value="Antarctica/Syowa">昭和</option>
							<option value="Antarctica/DumontDUrville">杜蒙特迪</option>
							<option value="Antarctica/Vostok">沃斯托克</option>
							<option value="Antarctica/Troll">特罗尔</option>
							<option value="Antarctica/Rothera">罗瑟拉</option>
							<option value="Antarctica/Mawson">莫森</option>
							<option value="Antarctica/McMurdo">麦克默多</option>
							<option value="Antarctica/Macquarie">麦觉理</option>
						</optgroup>
						<optgroup label="印度次大陆">
							<option value="Indian/Kerguelen">凯尔盖朗</option>
							<option value="Indian/Reunion">团圆</option>
							<option value="Indian/Christmas">圣诞岛</option>
							<option value="Indian/Antananarivo">塔那那利佛</option>
							<option value="Indian/Chagos">查戈斯群岛</option>
							<option value="Indian/Mauritius">毛里求斯</option>
							<option value="Indian/Comoro">科摩罗</option>
							<option value="Indian/Cocos">科科斯</option>
							<option value="Indian/Mahe">马埃</option>
							<option value="Indian/Maldives">马尔代夫</option>
							<option value="Indian/Mayotte">马约特岛</option>
						</optgroup>
						<optgroup label="大西洋">
							<option value="Atlantic/Azores">亚速尔群岛</option>
							<option value="Atlantic/Cape_Verde">佛得角</option>
							<option value="Atlantic/Canary">加纳利</option>
							<option value="Atlantic/South_Georgia">南乔治亚</option>
							<option value="Atlantic/St_Helena">圣赫勒拿岛</option>
							<option value="Atlantic/Stanley">斯坦利</option>
							<option value="Atlantic/Faroe">法罗</option>
							<option value="Atlantic/Bermuda">百慕大</option>
							<option value="Atlantic/Reykjavik">雷克雅未克</option>
							<option value="Atlantic/Madeira">马德拉</option>
						</optgroup>
						<optgroup label="太平洋">
							<option value="Pacific/Midway">中途岛</option>
							<option value="Pacific/Guam">关岛</option>
							<option value="Pacific/Galapagos">加拉帕戈斯</option>
							<option value="Pacific/Noumea">努美阿</option>
							<option value="Pacific/Easter">圣诞岛</option>
							<option value="Pacific/Efate">埃法特岛</option>
							<option value="Pacific/Kiritimati">基里蒂马蒂</option>
							<option value="Pacific/Tahiti">塔希提岛</option>
							<option value="Pacific/Tarawa">塔拉瓦</option>
							<option value="Pacific/Saipan">塞班</option>
							<option value="Pacific/Kwajalein">夸贾林环礁</option>
							<option value="Pacific/Auckland">奥克兰</option>
							<option value="Pacific/Wake">威克岛</option>
							<option value="Pacific/Funafuti">富纳富提</option>
							<option value="Pacific/Bougainville">布干维尔</option>
							<option value="Pacific/Palau">帕劳</option>
							<option value="Pacific/Pago_Pago">帕果帕果</option>
							<option value="Pacific/Enderbury">恩德伯里</option>
							<option value="Pacific/Rarotonga">拉罗汤加</option>
							<option value="Pacific/Fiji">斐济</option>
							<option value="Pacific/Chatham">查塔姆</option>
							<option value="Pacific/Chuuk">楚克</option>
							<option value="Pacific/Honolulu">檀香山</option>
							<option value="Pacific/Tongatapu">汤加塔布</option>
							<option value="Pacific/Fakaofo">法考福</option>
							<option value="Pacific/Pohnpei">波纳佩</option>
							<option value="Pacific/Nauru">瑙鲁</option>
							<option value="Pacific/Guadalcanal">瓜达尔卡纳尔岛</option>
							<option value="Pacific/Wallis">瓦利斯</option>
							<option value="Pacific/Gambier">甘比尔</option>
							<option value="Pacific/Pitcairn">皮特凯恩</option>
							<option value="Pacific/Kosrae">科斯雷</option>
							<option value="Pacific/Johnston">约翰斯顿</option>
							<option value="Pacific/Niue">纽埃</option>
							<option value="Pacific/Port_Moresby">莫尔兹比港</option>
							<option value="Pacific/Norfolk">诺福克</option>
							<option value="Pacific/Apia">阿皮亚</option>
							<option value="Pacific/Marquesas">马克萨斯</option>
							<option value="Pacific/Majuro">马朱罗</option>
						</optgroup>
						<optgroup label="欧洲">
							<option value="Europe/Uzhgorod">乌日哥罗德</option>
							<option value="Europe/Ulyanovsk">乌里扬诺夫斯克</option>
							<option value="Europe/Istanbul">伊斯坦布尔</option>
							<option value="Europe/Volgograd">伏尔加格勒</option>
							<option value="Europe/London">伦敦</option>
							<option value="Europe/Kaliningrad">加里宁格勒</option>
							<option value="Europe/Warsaw">华沙</option>
							<option value="Europe/Ljubljana">卢布尔雅那</option>
							<option value="Europe/Luxembourg">卢森堡</option>
							<option value="Europe/Copenhagen">哥本哈根</option>
							<option value="Europe/San_Marino">圣马力诺</option>
							<option value="Europe/Tirane">地拉那</option>
							<option value="Europe/Chisinau">基希讷乌</option>
							<option value="Europe/Kirov">基洛夫</option>
							<option value="Europe/Kiev">基辅</option>
							<option value="Europe/Tallinn">塔林</option>
							<option value="Europe/Oslo">奥斯陆</option>
							<option value="Europe/Andorra">安道尔</option>
							<option value="Europe/Paris">巴黎</option>
							<option value="Europe/Bucharest">布加勒斯特</option>
							<option value="Europe/Prague">布拉格</option>
							<option value="Europe/Bratislava">布拉迪斯拉发</option>
							<option value="Europe/Busingen">布辛根</option>
							<option value="Europe/Budapest">布达佩斯</option>
							<option value="Europe/Brussels">布鲁塞尔</option>
							<option value="Europe/Zaporozhye">扎波罗热</option>
							<option value="Europe/Monaco">摩纳哥</option>
							<option value="Europe/Stockholm">斯德哥尔摩</option>
							<option value="Europe/Skopje">斯科普里</option>
							<option value="Europe/Minsk">明斯克</option>
							<option value="Europe/Berlin">柏林</option>
							<option value="Europe/Guernsey">根西岛</option>
							<option value="Europe/Vatican">梵蒂冈</option>
							<option value="Europe/Podgorica">波德戈里察</option>
							<option value="Europe/Jersey">泽西岛</option>
							<option value="Europe/Vaduz">瓦杜兹</option>
							<option value="Europe/Gibraltar">直布罗陀</option>
							<option value="Europe/Sofia">索菲亚</option>
							<option value="Europe/Vienna">维也纳</option>
							<option value="Europe/Vilnius">维尔纽斯</option>
							<option value="Europe/Rome">罗马</option>
							<option value="Europe/Zurich">苏黎世</option>
							<option value="Europe/Moscow">莫斯科</option>
							<option value="Europe/Sarajevo">萨拉热窝</option>
							<option value="Europe/Zagreb">萨格勒布</option>
							<option value="Europe/Samara">萨马拉</option>
							<option value="Europe/Belgrade">贝尔格莱德</option>
							<option value="Europe/Helsinki">赫尔辛基</option>
							<option value="Europe/Simferopol">辛菲罗波尔</option>
							<option value="Europe/Dublin">都柏林</option>
							<option value="Europe/Riga">里加</option>
							<option value="Europe/Lisbon">里斯本</option>
							<option value="Europe/Amsterdam">阿姆斯特丹</option>
							<option value="Europe/Astrakhan">阿斯特拉罕</option>
							<option value="Europe/Athens">雅典</option>
							<option value="Europe/Mariehamn">马利汉姆</option>
							<option value="Europe/Madrid">马德里</option>
							<option value="Europe/Isle_of_Man">马恩岛</option>
							<option value="Europe/Malta">马耳他</option>
						</optgroup>
						<optgroup label="澳洲">
							<option value="Australia/Melbourne">墨尔本</option>
							<option value="Australia/Eucla">尤克拉</option>
							<option value="Australia/Broken_Hill">布罗肯希尔</option>
							<option value="Australia/Brisbane">布里斯班</option>
							<option value="Australia/Sydney">悉尼</option>
							<option value="Australia/Lindeman">林德曼</option>
							<option value="Australia/Currie">柯里</option>
							<option value="Australia/Perth">珀斯</option>
							<option value="Australia/Lord_Howe">豪勋爵</option>
							<option value="Australia/Darwin">达尔文</option>
							<option value="Australia/Adelaide">阿德莱德</option>
							<option value="Australia/Hobart">霍巴特</option>
						</optgroup>
						<optgroup label="美洲">
							<option value="America/Lower_Princes">下王子</option>
							<option value="America/Denver">丹佛</option>
							<option value="America/Danmarkshavn">丹马沙</option>
							<option value="America/Yakutat">亚库塔特</option>
							<option value="America/Asuncion">亚松森</option>
							<option value="America/Inuvik">伊努维克</option>
							<option value="America/Iqaluit">伊魁特</option>
							<option value="America/Belize">伯利兹</option>
							<option value="America/Kralendijk">克拉伦代克</option>
							<option value="America/Creston">克莱斯顿</option>
							<option value="America/Rankin_Inlet">兰金因莱特</option>
							<option value="America/Phoenix">凤凰城</option>
							<option value="America/Lima">利马</option>
							<option value="America/Cambridge_Bay">剑桥湾</option>
							<option value="America/Caracas">加拉加斯</option>
							<option value="America/North_Dakota/Center">北达科他州 - 中心</option>
							<option value="America/North_Dakota/New_Salem">北达科他州 - 新塞勒姆</option>
							<option value="America/North_Dakota/Beulah">北达科他州 - 比尤拉</option>
							<option value="America/Boise">博伊西</option>
							<option value="America/Boa_Vista">博阿维斯塔</option>
							<option value="America/Cayenne">卡宴</option>
							<option value="America/Indiana/Indianapolis">印地安那 - 印第安纳波利斯</option>
							<option value="America/Indiana/Petersburg">印地安那 - 圣彼得堡</option>
							<option value="America/Indiana/Winamac">印地安那 - 威纳马克</option>
							<option value="America/Indiana/Vincennes">印地安那 - 文森斯</option>
							<option value="America/Indiana/Tell_City">印地安那 - 特尔城</option>
							<option value="America/Indiana/Knox">印地安那 - 诺克斯</option>
							<option value="America/Indiana/Vevay">印地安那 - 韦韦</option>
							<option value="America/Indiana/Marengo">印地安那 - 马伦哥</option>
							<option value="America/Guatemala">危地马拉</option>
							<option value="America/Goose_Bay">古斯湾</option>
							<option value="America/Halifax">哈利法克斯</option>
							<option value="America/Havana">哈瓦那</option>
							<option value="America/Costa_Rica">哥斯达黎加</option>
							<option value="America/Godthab">哥特哈布</option>
							<option value="America/Thule">图勒</option>
							<option value="America/Sao_Paulo">圣保罗</option>
							<option value="America/St_Lucia">圣卢西亚</option>
							<option value="America/Santiago">圣地亚哥</option>
							<option value="America/St_Kitts">圣基茨和尼维斯</option>
							<option value="America/Santarem">圣塔伦</option>
							<option value="America/Santo_Domingo">圣多明各</option>
							<option value="America/St_Barthelemy">圣巴夫林米</option>
							<option value="America/St_Thomas">圣托马斯</option>
							<option value="America/St_Vincent">圣文森特</option>
							<option value="America/St_Johns">圣约翰斯</option>
							<option value="America/Guyana">圭亚那</option>
							<option value="America/Cancun">坎昆</option>
							<option value="America/Campo_Grande">坎普</option>
							<option value="America/Resolute">坚决</option>
							<option value="America/Edmonton">埃德蒙顿</option>
							<option value="America/Hermosillo">埃莫西</option>
							<option value="America/Adak">埃达克</option>
							<option value="America/Mexico_City">墨西哥城</option>
							<option value="America/Toronto">多伦多</option>
							<option value="America/Dominica">多米尼加</option>
							<option value="America/Grand_Turk">大特克</option>
							<option value="America/Port-au-Prince">太子港</option>
							<option value="America/Chihuahua">奇瓦瓦</option>
							<option value="America/Ojinaga">奥希纳加</option>
							<option value="America/Anchorage">安克雷奇</option>
							<option value="America/Anguilla">安圭拉</option>
							<option value="America/Antigua">安提瓜</option>
							<option value="America/Miquelon">密克隆岛</option>
							<option value="America/Fort_Nelson">尼尔森堡</option>
							<option value="America/Nipigon">尼皮贡</option>
							<option value="America/Bahia">巴伊亚</option>
							<option value="America/Bahia_Banderas">巴伊亚班德拉斯</option>
							<option value="America/Barbados">巴巴多斯</option>
							<option value="America/Panama">巴拿马</option>
							<option value="America/Blanc-Sablon">布兰克－萨布隆</option>
							<option value="America/Paramaribo">帕拉马里博</option>
							<option value="America/Cuiaba">库亚巴</option>
							<option value="America/Curacao">库拉索</option>
							<option value="America/Detroit">底特律</option>
							<option value="America/Pangnirtung">庞纳唐</option>
							<option value="America/Cayman">开曼</option>
							<option value="America/Tortola">托尔托拉</option>
							<option value="America/La_Paz">拉巴斯</option>
							<option value="America/Nassau">拿骚</option>
							<option value="America/Swift_Current">斯威夫特卡伦特</option>
							<option value="America/Scoresbysund">斯科斯比松</option>
							<option value="America/Juneau">朱诺</option>
							<option value="America/Grenada">格林纳达</option>
							<option value="America/Glace_Bay">格莱斯贝</option>
							<option value="America/Thunder_Bay">桑德贝</option>
							<option value="America/Metlakatla">梅特拉卡特拉</option>
							<option value="America/Menominee">梅诺米尼</option>
							<option value="America/Merida">梅里达</option>
							<option value="America/Bogota">波哥大</option>
							<option value="America/Porto_Velho">波多韦柳</option>
							<option value="America/Puerto_Rico">波多黎各</option>
							<option value="America/Los_Angeles">洛杉矶</option>
							<option value="America/Vancouver">温哥华</option>
							<option value="America/Winnipeg">温尼伯</option>
							<option value="America/Jamaica">牙买加</option>
							<option value="America/Tegucigalpa">特古西加尔巴</option>
							<option value="America/Marigot">玛莉格</option>
							<option value="America/Guayaquil">瓜亚基尔</option>
							<option value="America/Guadeloupe">瓜德罗普岛</option>
							<option value="America/Whitehorse">白马</option>
							<option value="America/Fortaleza">福塔莱萨</option>
							<option value="America/Recife">累西腓</option>
							<option value="America/New_York">纽约</option>
							<option value="America/Yellowknife">耶洛奈夫</option>
							<option value="America/Kentucky/Monticello">肯塔基州 - 蒙蒂塞洛</option>
							<option value="America/Kentucky/Louisville">肯塔基州 - 路易斯维尔</option>
							<option value="America/Eirunepe">艾鲁内佩</option>
							<option value="America/Chicago">芝加哥</option>
							<option value="America/El_Salvador">萨尔瓦多</option>
							<option value="America/Tijuana">蒂华纳</option>
							<option value="America/Moncton">蒙克顿</option>
							<option value="America/Montevideo">蒙得维的亚</option>
							<option value="America/Montserrat">蒙特塞拉特</option>
							<option value="America/Monterrey">蒙特雷</option>
							<option value="America/Port_of_Spain">西班牙港</option>
							<option value="America/Nome">诺姆</option>
							<option value="America/Belem">贝伦</option>
							<option value="America/Noronha">迪诺罗尼亚</option>
							<option value="America/Dawson">道森</option>
							<option value="America/Dawson_Creek">道森溪</option>
							<option value="America/Rio_Branco">里约布兰</option>
							<option value="America/Regina">里贾纳</option>
							<option value="America/Sitka">锡特卡</option>
							<option value="America/Araguaina">阿拉瓜伊纳</option>
							<option value="America/Atikokan">阿提库</option>
							<option value="America/Argentina/Ushuaia">阿根廷 - 乌斯怀亚</option>
							<option value="America/Argentina/Catamarca">阿根廷 - 卡塔马卡</option>
							<option value="America/Argentina/Tucuman">阿根廷 - 图库曼</option>
							<option value="America/Argentina/San_Juan">阿根廷 - 圣胡安</option>
							<option value="America/Argentina/San_Luis">阿根廷 - 圣路易斯</option>
							<option value="America/Argentina/Buenos_Aires">阿根廷 - 布宜诺斯艾利斯</option>
							<option value="America/Argentina/La_Rioja">阿根廷 - 拉里奥哈</option>
							<option value="America/Argentina/Cordoba">阿根廷 - 科尔多瓦</option>
							<option value="America/Argentina/Jujuy">阿根廷 - 胡胡伊</option>
							<option value="America/Argentina/Salta">阿根廷 - 萨尔塔</option>
							<option value="America/Argentina/Rio_Gallegos">阿根廷 - 里奥加耶戈斯</option>
							<option value="America/Argentina/Mendoza">阿根廷 - 门多萨</option>
							<option value="America/Aruba">阿鲁巴</option>
							<option value="America/Rainy_River">雷尼里弗</option>
							<option value="America/Matamoros">马塔莫罗斯</option>
							<option value="America/Maceio">马塞约</option>
							<option value="America/Martinique">马提尼克</option>
							<option value="America/Manaus">马瑙斯</option>
							<option value="America/Mazatlan">马萨特兰</option>
							<option value="America/Managua">马那瓜</option>
						</optgroup>
						<optgroup label="非洲">
							<option value="Africa/Addis_Ababa">亚的斯亚贝巴</option>
							<option value="Africa/Ceuta">休达</option>
							<option value="Africa/Nairobi">内罗毕</option>
							<option value="Africa/Bissau">几内亚比绍</option>
							<option value="Africa/Libreville">利伯维尔</option>
							<option value="Africa/Nouakchott">努瓦克肖特</option>
							<option value="Africa/Casablanca">卡萨布兰卡</option>
							<option value="Africa/Lubumbashi">卢本巴希</option>
							<option value="Africa/Lusaka">卢萨卡</option>
							<option value="Africa/Djibouti">吉布提</option>
							<option value="Africa/Gaborone">哈博罗内</option>
							<option value="Africa/Harare">哈拉雷</option>
							<option value="Africa/Khartoum">喀土穆</option>
							<option value="Africa/Sao_Tome">圣多美和普林西比</option>
							<option value="Africa/Kampala">坎帕拉</option>
							<option value="Africa/Kigali">基加利</option>
							<option value="Africa/Mbabane">姆巴巴</option>
							<option value="Africa/Niamey">尼亚美</option>
							<option value="Africa/Bamako">巴马科</option>
							<option value="Africa/Blantyre">布兰太尔</option>
							<option value="Africa/Brazzaville">布拉柴维尔</option>
							<option value="Africa/Bujumbura">布琼布拉</option>
							<option value="Africa/Cairo">开罗</option>
							<option value="Africa/Freetown">弗里敦</option>
							<option value="Africa/Ndjamena">恩贾梅纳</option>
							<option value="Africa/Lagos">拉各斯</option>
							<option value="Africa/Mogadishu">摩加迪沙</option>
							<option value="Africa/Juba">朱巴</option>
							<option value="Africa/Douala">杜阿拉</option>
							<option value="Africa/Porto-Novo">波多诺伏</option>
							<option value="Africa/Lome">洛美</option>
							<option value="Africa/Windhoek">温得和克</option>
							<option value="Africa/Bangui">班吉</option>
							<option value="Africa/Banjul">班珠尔</option>
							<option value="Africa/Ouagadougou">瓦加杜古</option>
							<option value="Africa/Tripoli">的黎波里</option>
							<option value="Africa/Conakry">科纳克里</option>
							<option value="Africa/Tunis">突尼斯</option>
							<option value="Africa/Johannesburg">约翰内斯堡</option>
							<option value="Africa/Luanda">罗安达</option>
							<option value="Africa/Monrovia">蒙罗维亚</option>
							<option value="Africa/Dakar">达喀尔</option>
							<option value="Africa/Dar_es_Salaam">达累斯萨拉姆</option>
							<option value="Africa/Kinshasa">金沙萨</option>
							<option value="Africa/Accra">阿克拉</option>
							<option value="Africa/Algiers">阿尔及尔</option>
							<option value="Africa/El_Aaiun">阿尤恩</option>
							<option value="Africa/Asmara">阿斯马拉</option>
							<option value="Africa/Abidjan">阿比让</option>
							<option value="Africa/Maseru">马塞卢</option>
							<option value="Africa/Malabo">马拉博</option>
							<option value="Africa/Maputo">马普托</option>
						</optgroup>
					</select>
					<div class="input-group-btn">
						<button type="button" class="btn btn-default" id="btn_timezone">自动调整</button>
					</div>
				</div>
				<p class="help-block">{$showTime}</p>
		    </div>
		   	<div class="form-group">
				<button type="submit" class="btn btn-primary btn-block">{$Think.lang.save}</button>
			</div>
		</form>
	</div>
</div>
<script type="text/javascript">
settingClass.site_init({$siteConfig|json_encode});
</script>
{/block}