{if condition="!empty($pluginData)"}
<script src="__PUBLIC__/static/js/admin/store.js?{$Think.config.html_v}"></script>
<div>
	<form id="win_form_save2store" action="https://www.skycaiji.com/client/plugin/upload" method="post" target="myModalIframe">
	<input type="hidden" name="plugin" value="{:base64_encode(serialize($pluginData))}" />
	</form>
	<script type="text/javascript">
		$(document).ready(function(){
			/*利用iframe+form post提交*/
			var formhtml=$('#win_form_save2store').prop("outerHTML")+'<script type="text\/javascript">$("#win_form_save2store").submit()<\/script>';
			windowStore('正在上传...','',{addonBody:formhtml});
		});
	</script>
</div>
{else /}
	插件不存在
{/if}