{extend name="common:main" /}
{block name="cssjs"}
<script src="__PUBLIC__/static/js/admin/store.js?{$Think.config.html_v}"></script>
{/block}
{block name="content"}
<div class="box">
	<div class="box-body">
		<div style="margin:20px;">
			<div style="overflow:hidden;margin-bottom:10px;">
				<div style="float:left;">正在下载：{$downloadData['addon_name']}</div>
				<div style="float:right" id="down_percentage"></div>
			</div>
			<div class="progress progress-sm progress-striped active">
				<div class="progress-bar progress-bar-primary" id="down_progress_bar"></div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
storeClass.init_download({$downloadData|json_encode});
</script>
{/block}