<extend name="Common:main" />
<block name="cssjs">
<link rel="stylesheet" href="__PUBLIC__/css/store.css?{$Think.config.HTML_V}">
<script src="__PUBLIC__/js/admin/store.js?{$Think.config.HTML_V}"></script>
</block>
<block name="content">
<input type="hidden" id="clientinfo" value="{$clientinfo}" />
<div class="iframe-loading"><div class="loading">&nbsp;</div>页面加载中...</div>
<iframe src="http://www.skycaiji.com/store" id="iframe_main" class="iframe-main" width="100%" height="100%" frameborder="0" scrolling="yes"></iframe>
<script type="text/javascript">storeClass.init_iframe();</script>
</block>