@CHARSET "UTF-8";
/*解决底部黑色背景闪烁*/
.wrapper{background:#ecf0f5!important;}

.info-box-content .info-box-text{font-size:16px;line-height:25px;}
.info-box-content .info-box-number{font-weight:normal;line-height:25px;}
.info-box-content .info-box-number .tips{margin-left:5px;font-size:14px;display:inline;}
.help-block{color:#aaa;}
/*全局*/
.panel .form-group:last-child{margin-bottom:0;}
.panel .form-group .help-block:last-child{margin-bottom:0;}

.label-custom-opened{font-weight:normal;background-color:#dedede;color:#555;}

.brl_0{border-left:0;}
.brr_0{border-right:0;}
.h-title{
    color: #666;
    font-weight: bold;
	border-bottom:solid 1px #F5F5F5;
	width:auto;
	overflow:hidden;
}
.h-title label{font-size:16px;}

.verify-img{cursor:pointer;height:32px;display:table-cell}

.cur-menu > .treeview-menu{display:block;}

.treeview-skins{color:#8aa4af;}
.treeview-skins li{padding:5px 15px 5px 0px;margin:0;font-size:14px;vertical-align:middle;overflow:hidden;}
.treeview-skins li .checkbox{margin:0;}

.page-header{font-size:16px;margin:10px 0;overflow:hidden;}
.page-header a{color:#333;}
.page-header .ph-more{float:right;font-size:14px;padding-top:1px;}

.navbar-custom-menu .dropdown-menu{padding:5px 0!important;right:0!important;left:auto!important;width:auto!important;}
.navbar-custom-menu .dropdown-menu *{color:#333!important;}

.login-box-msg *{color:#666!important;}


.input-select-custom select.form-control{min-width:100px;}
.input-select-custom input.form-control{margin-left:-1px;display:none;}


ul.in-line,ul.in-line-mg{display:inline;list-style:none;margin:0;padding:0;}
ul.in-line li{display:inline;margin:0;padding:0}
ul.in-line-mg li{display:inline;margin:0;padding:0;margin-right:5px;}

div.in-line{display:inline;margin:0;padding:0}
div.in-line-mg{display:inline;margin-right:5px;}


.wrapper-not-enable .nav-tabs li.active a,.wrapper-not-enable .nav-tabs li.active a:hover{background:#f1f1f1;opacity:0.7;}
.wrapper-not-enable .tab-content{background:#f1f1f1;opacity:0.7;}
.wrapper-not-enable .panel-collapse{background:#f1f1f1;opacity:0.7;}

.box-not-enable{background:#f1f1f1;opacity:0.7;}

#confirm_right .cr-msg p:last-child{margin-bottom:0;}

.table-responsive .table:last-child{margin-bottom:0;}
.table-responsive .table input.form-control{min-width:150px;}
.table-responsive .table textarea.form-control{min-width:150px;}
.table-responsive .table select.form-control{min-width:70px;}

.icon-info-tips{font-size:12px;cursor:pointer;color:#bbb;}
.icon-info-tips:hover{color:#3c8dbc;}

.echo-msg-clear{width:100%;overflow:hidden;clear:both;}
.echo-msg-lt{float:left;}
.echo-msg-lurl{float:left;margin-right:3px;height:16px;max-width:70%;overflow:hidden;text-overflow:ellipsis;word-wrap:break-word;word-break:break-all;}

/*皮肤*/
.skin-blue-light .treeview-skins,.skin-black-light .treeview-skins,.skin-red-light .treeview-skins,.skin-yellow-light .treeview-skins,.skin-purple-light .treeview-skins,.skin-green-light .treeview-skins{
	color:#000;
}

.skin-black .btn-primary,.skin-black-light .btn-primary{background-color:#5A6E82;border-color:#4A6E82;}
.skin-black .btn-primary:hover,.skin-black-light .btn-primary:hover{background-color:#4A6E82;border-color:#1A6E82}
.skin-black .pagination .active a,.skin-black-light .pagination .active a{background-color:#5A6E82;border-color:#4A6E82;}
.skin-black .steps-bar .current .round,.skin-black .steps-bar .current .bar,.skin-black-light .steps-bar .current .round,.skin-black-light .steps-bar .current .bar{background:#5A6E82;color:#fff;border-color:#5A6E82;}
.skin-black .steps-bar .current a,.skin-black-light .steps-bar .current a {color: #5A6E82;}

.skin-green .btn-primary,.skin-green-light .btn-primary{background-color:#00a65a;border-color:#008d4c;}
.skin-green .btn-primary:hover,.skin-green-light .btn-primary:hover{background-color:#008d4c;border-color:#006d4c}
.skin-green .toast-success,.skin-green-light .toast-success{background-color:#3c8dbc;}
.skin-green .pagination .active a,.skin-green-light .pagination .active a{background-color:#00a65a;border-color:#008d4c;}
.skin-green .steps-bar .current .round,.skin-green .steps-bar .current .bar,.skin-green-light .steps-bar .current .round,.skin-green-light .steps-bar .current .bar{background:#00a65a;color:#fff;border-color:#00a65a;}
.skin-green .steps-bar .current a,.skin-green-light .steps-bar .current a {color: #008d4c;}

.skin-red .btn-primary,.skin-red-light .btn-primary{background-color:#dd4b39;border-color:#cd4b39;}
.skin-red .btn-primary:hover,.skin-red-light .btn-primary:hover{background-color:#cd4b39;border-color:#ad4b39;}
.skin-red .toast-error,.skin-red-light .toast-error{background-color:#f39c12;}
.skin-red .pagination .active a,.skin-red-light .pagination .active a{background-color:#dd4b39;border-color:#cd4b39;}
.skin-red .steps-bar .current .round,.skin-red .steps-bar .current .bar,.skin-red-light .steps-bar .current .round,.skin-red-light .steps-bar .current .bar{background:#dd4b39;color:#fff;border-color:#dd4b39;}
.skin-red .steps-bar .current a,.skin-red-light .steps-bar .current a {color: #d73925;}

.skin-yellow .btn-primary,.skin-yellow-light .btn-primary{background-color:#f39c12;border-color:#e08e0b}
.skin-yellow .btn-primary:hover,.skin-yellow-light .btn-primary:hover{background-color:#e08e0b;border-color:#b08e0b;}
.skin-yellow .pagination .active a,.skin-yellow-light .pagination .active a{background-color:#f39c12;border-color:#e08e0b}
.skin-yellow .steps-bar .current .round,.skin-yellow .steps-bar .current .bar,.skin-yellow-light .steps-bar .current .round,.skin-yellow-light .steps-bar .current .bar{background:#f39c12;color:#fff;border-color:#f39c12;}
.skin-yellow .steps-bar .current a,.skin-yellow-light .steps-bar .current a {color: #db8b0b;}

.skin-purple .btn-primary,.skin-purple-light .btn-primary{background-color:#605ca8;border-color:#555299}
.skin-purple .btn-primary:hover,.skin-purple-light .btn-primary:hover{background-color:#555299;border-color:#255299;}
.skin-purple .pagination .active a,.skin-purple-light .pagination .active a{background-color:#605ca8;border-color:#555299}
.skin-purple .steps-bar .current .round,.skin-purple .steps-bar .current .bar,.skin-purple-light .steps-bar .current .round,.skin-purple-light .steps-bar .current .bar{background:#605ca8;color:#fff;border-color:#605ca8;}
.skin-purple .steps-bar .current a,.skin-purple-light .steps-bar .current a {color: #555299;}

/*数据表*/
.datatable .sub{padding-left:50px; background:url('../images/bg_column.gif') no-repeat 15px 10px;}
.datatable td .dropdown{display:inline;}
.datatable th.chk,.datatable td.chk{min-width:50px;width:50px;text-align:center;}
.datatable .chk-all{line-height:14px;margin:0;}
.datatable .chk-all span{display:block;font-size:12px;}
.datatable .name{max-width:450px;overflow:hidden;text-overflow:ellipsis;}
.datatable .url{max-width:260px;overflow:hidden;text-overflow:ellipsis;}
.datatable .desc{max-width:400px;white-space:normal;overflow:hidden;word-wrap:break-word;word-break:break-all;}
.datatable .sort{width:80px;min-width:80px;}
.datatable .sort input{height:auto;padding:0 5px;min-width:100%!important;}
.datatable .bg0{background:#fcfcfc}
.datatable .chk-inline{vertical-align:baseline;margin-right:5px;}
.datatable .sep{color:#999;text-indent:-9999px;display:inline-block;width:2px;line-height:12px;margin-left:1px;border-left:1px solid #aaa;}
.datatable .nav-packs{display:inline-block;max-width:500px;overflow:hidden;text-overflow:ellipsis;}
.datatable tr,.datatable td{white-space:nowrap;}

.datatable .store-detail{position:relative;}
.datatable .store-detail .new-version{position:absolute;color:green;font-size:10px;top:-4px;right:-15px;}
/*数据表排序*/
table.table thead .sorting,
table.table thead .sorting_asc,
table.table thead .sorting_desc,
table.table thead .sorting_asc_disabled,
table.table thead .sorting_desc_disabled {
	cursor: pointer;
	position: relative;
}

table.table thead .sorting:after,
table.table thead .sorting_asc:after,
table.table thead .sorting_desc:after {
	position: absolute;
    top: 8px;
    right: 8px;
    display: block;
	font-family: 'Glyphicons Halflings';
	opacity: 0.5;
}
table.table thead .sorting:after {
	opacity: 0.2;
	content: "\e150"; /* sort */
}
table.table thead .sorting_asc:after {
	content: "\e155"; /* sort-by-attributes */
}
table.table thead .sorting_desc:after {
	content: "\e156"; /* sort-by-attributes-alt */
}

.icon-drag-move{cursor:move;}
.icon-drag-move:before {
    content: "\e150";
}

.pagination{margin:0px;}
/*列表底部*/
.list-footer{margin-bottom:10px;}
.list-footer .form-inline {font-weight:normal;font-size:12px;}
.list-footer .form-group label{margin:0 3px;text-align:left!important;}

/*错误提示框*/
.toast-top-center{margin-top:10px;}

/*modal框*/
.myModal{}
.modal-title{font-size:16px;}
.myModal .modal-body iframe{width:100%;height:100%;min-height:200px;}
.myModal button.close{font-size:18px;}
/*采集器面板*/
.coll-panel .panel-heading{background-color:#d2d6de;}
.coll-panel .panel-default .panel-default .panel-heading{background-color:#efefef;}
.coll-panel .panel-heading a{color:#333;}

.coll-alert{color:#333!important;background-color:#f5f5f5!important;border-color:#ddd!important;}

.c-p-source-urls>.form-group:first-child{margin-top:10px;}

#c_p_level_urls tbody{
 	counter-reset:levelcounter;
}
#c_p_level_urls .level:before{
 	content:counter(levelcounter);
	counter-increment:levelcounter;
	font-weight:bold;
}

#c_p_front_urls td.sign,#c_p_level_urls td.sign,#c_p_relation_urls td.sign{
	width:50%;overflow:hidden;padding-bottom:0;
}
#c_p_front_urls .sign-th,#c_p_level_urls .sign-th,#c_p_relation_urls .sign-th{
	padding-left:5px;
}
#c_p_front_urls .signs,#c_p_level_urls .signs,#c_p_relation_urls .signs{
	border:0;padding:0px 5px;height:20px;line-height:14px;font-size:12px;color:#555;background:#fff;
}

/*采集器选项卡*/
.coll-tab > li:nth-child(2).active > a,.coll-tab > li:nth-child(3).active > a{background:#f5f5f5;}
.coll-tab > li{
	-moz-user-select:none;
    -webkit-user-select:none;
    -ms-user-select:none;
    -khtml-user-select:none;
    user-select:none;
}
.coll-tab>li>a{
	border-bottom:0;
}
/*请求头信息*/
.c-p-request-headers table,.c-p-request-headers-img table{margin-bottom:0}
.c-p-request-headers .delete-request-header,.c-p-request-headers-img .delete-request-header-img{margin-top:8px;}
.c-p-request-headers td:first-child,.c-p-request-headers-img td:first-child{width:200px;}
.c-p-request-headers td:last-child,.c-p-request-headers-img td:last-child{width:50px;text-align:center;}
/*内容标签*/
.c-p-url-content-signs{
	width:auto;
	overflow:hidden;
}

/*页面源码表单和请求头*/
.c-p-url-web-form table,.c-p-url-web-header table{margin-bottom:0;}
.c-p-url-web-form .delete-url-web-form,.c-p-url-web-header .delete-url-web-header{margin-top:8px;}
.c-p-url-web-form td:first-child,.c-p-url-web-header td:first-child{width:200px;}
.c-p-url-web-form td:last-child,.c-p-url-web-header td:last-child{width:50px;text-align:center;}
/*页面渲染动作*/
.c-p-url-renderer-list table{margin-bottom:0;}
.c-p-url-renderer-list .td-renderer-element,.c-p-url-renderer-list .td-renderer-content{display:none;}
.c-p-url-renderer-list .td-renderer-op{width:65px;text-align:center;}
.c-p-url-renderer-list .td-renderer-op .input-group-addon:last-child{border-left:1px solid #d2d6de;}

/*显示标签列表，input-group-btn必须position:static，否则dropdown-menu定位太窄*/
.c-p-url-page-signs>.input-group-btn{position:static;}
.c-p-url-page-signs .dropdown-menu{padding:0;box-shadow:none;border:0;}
.c-p-url-page-signs .c-p-url-ps-table{padding:10px;box-shadow:0 0 2px 2px #eee;border:1px solid #ddd;border-radius:4px;}
.c-p-url-page-signs .c-p-url-ps-table .table{margin-bottom:0;}
.c-p-url-page-signs .c-p-url-ps-table .table td>a,.c-p-url-page-signs .dropdown-menu .table td>span{margin-right:5px;}
.c-p-url-page-signs .c-p-url-ps-table .table td>*:last-child{margin-right:0;}
.c-p-url-page-signs .c-p-url-ps-table .table td{white-space:normal!important;width:auto!important;}
.c-p-url-page-signs .c-p-url-ps-table .table td:first-child{white-space:nowrap!important;}
.c-p-url-page-signs .c-p-url-ps-table .table td:last-child{text-align:left!important;}

/*分页字段*/
.c-p-url-pagination-fields{
	width:auto;
	overflow:hidden;
}

/*参数标签样式*/
.param-label{
	font-size:14px;
	font-weight:normal;
	padding: 4px 8px;
    text-decoration: none;
    border-bottom: none;
    color: #3c8dbc;
    border: 1px #ccc solid;
	margin:7px 15px 5px 0;
	position:relative;
	float:left;
}
.param-label em.delete{
    font-style: normal;
    display: block;
    position: absolute;
    top: -7px;
    right: -5px;
    z-index: 999;
	background:#fff;
}
/*采集器字段*/
.c-p-field-list .field-name{color:#3c8dbc;cursor:pointer;}
.c-p-field-list .exist-process{color:green;}
.c-p-field-list thead .sort-field{font-size:12px;color:#cdcdcd;margin-left:5px;display:none;}

.form-inline label{font-weight:normal;}


#task_list_folder .taskgroup-opened .icon-folder-pre:before{content:"\2212"}
#task_list_folder .taskgroup-opened .icon-folder:before{content:"\e118"}

#task_list_folder .icon-folder-pre:before{font-size:12px;content:"\002b"}
#task_list_folder .icon-folder:before{content:"\e117";margin-right:5px;}


.box-header .navbar-toggle{background:#efefef;margin-top:0;}
.box-header .navbar-toggle .icon-bar{background:#aaa;}

.form-item .form-horizontal .control-label{text-align:left;width:120px;font-weight:normal;}


.loading{background:url('../images/loading.gif') no-repeat 5px 0;background-size:27px 27px;width:32px;height:27px;}
.loading-sm{background:url('../images/load1.gif') no-repeat 0 0;background-size:11px 11px;width:11px;height:11px;display:inline-block;}

.iga-rt{text-align:left;line-height:20px;}
.iga-rt .blk{display:block;}
.iga-rt .mgr{margin-right:5px;}

.iga-rt1{padding:0;vertical-align:top;}
.iga-rt1 .slt{width:100%;min-width:58px;height:24px;display:block;color:#555;font-weight:bold;padding:1px;margin:0;border:0;background:#F1F1F1;}
.iga-rt1 .op{margin:0;padding:3px 6px;list-style:none;}
.iga-rt1 .op li{display:none;}

.nav-save-rule{float:right!important;}
.nav-save-rule .dropdown-menu li a{padding-top:5px;padding-bottom:5px;}
/*数据处理*/
.form-control-slt{width:30px!important;text-align:center;}
.form-control-slt select.form-control{min-width:20px!important;width:20px!important;height:30px!important;float:none!important;border:0!important;padding:0!important;margin:0!important;text-indent:-20px!important;}

.c-p-process-accordion .panel-heading .glyphicon{font-size:12px;}
.p-m-func-field{display:inline;width:80px;border:0;cursor:pointer;margin:0;padding:0;height:auto;color:#555;}

.p-m-api-val-field,.p-m-api-header-field{display:none;margin-left:-1px;padding:0;}

.p-m-api-table table,.p-m-api-header-table table{margin-bottom:0;}
.p-m-api-table td:first-child,.p-m-api-header-table td:first-child{width:200px;}
.p-m-api-table td:last-child,.p-m-api-header-table td:last-child{width:50px;text-align:center;}

.p-m-html-tags{}
.p-m-html-tags a{font-size:12px;font-weight:normal;cursor:pointer;margin-right:5px;}
.p-m-html-tags a span{margin-right:2px;color:#999;}
.p-m-if-val-func{position:relative;}
.p-m-if-val-func a.input-group-addon{border-left:0;}
.p-m-if-val-func .input-group-btn>select{border-left:0;width:auto;padding:0;padding-left:5px;text-align:center;}
.p-m-if-op{width:70px;padding:15px 0 0 8px!important;font-size:11px;}
/*发布设置*/
.rele-db-error{margin-top:10px;color:red;font-weight:bold;}
.db-table-bind-params{padding:0;margin-bottom:0;border:0;}
.db-table-bind-params .table{margin-bottom:0;}
.db-table-bind-params .table tr>th:first-child,.db-table-bind-params .table tr>td:first-child{padding-left:15px;}
.db-table-bind-params .table thead th{padding-top:13px;padding-bottom:13px;}
.db-table-bind-op{width:auto;height:auto;display:inline;padding:0;}
.db-table-bind-where-tpl,.db-table-bind-query-tpl{display:none;}

.db-table-bind-where,.db-table-bind-query{display:none;}
.db-table-bind-data-seq{display:none;}
.db-table-bind-where,.db-table-bind-query,.db-table-bind-data{border:0;}

.db-table-bind-signs>.input-group-btn{position:static;}

.dm-db-charset li {padding:5px 15px;}
.dm-db-charset li.divider{padding:0;}
.dm-db-charset li span{padding:5px; cursor:pointer;color:#555;}
.dm-db-charset li span:hover{background:#eee;}

.toapi-param-table table,.toapi-header-table table{margin-bottom:0;}
.toapi-param-table td:first-child,.toapi-header-table td:first-child{width:200px;}
.toapi-param-table td:last-child,.toapi-header-table td:last-child{width:50px;text-align:center;}
/*步骤条*/
.steps-bar{width:100%;overflow:hidden;color:#999;}
.steps-bar a{color:#999;}
.steps-bar .step{
	width:50%;display:table-cell;
	position:relative;
}
.steps-bar .step:first-child{
	width:auto;
	top:0;
}
.steps-bar .step .each{
	width:100%;overflow:hidden;
}
.steps-bar .step .info{
	width:100%;
	margin-left: 50%;
	text-align: center;
	position: relative;
	z-index: 9;
	right:15px;
	margin-top:5px;
}

.steps-bar .step:first-child .info{
	width:auto;
	margin-left:0;
	text-align:left;
	margin-right:-200px;
	left:0;
	right:auto;
}

.steps-bar .step:last-child .info{
	width:auto;
	margin-left:-200px;
	text-align:right;
	right:0;
}
.steps-bar .current .round{
	background:#3c8dbc;
	color:#fff;
	border-color:#3c8dbc;
}
.steps-bar .current a{
	color:#3c8dbc;
}
.steps-bar .current .bar{
	background:#3c8dbc;
	border-color:#3c8dbc;
}
.steps-bar .round{
	width:30px;
	height:30px;
	line-height:23px;	
	border:4px #d3d3d3 solid;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	display: inline-block;
	vertical-align: middle;
	font-size: 12px;
	text-align: center;
	float: right;
}
.steps-bar .bar{
	margin:10px 40px 0px 10px;
    width: auto;
    height: 6px;
    vertical-align: middle;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
	background:#d3d3d3;
}
/**/
#cms_bind em{color:red;}

/*my store*/
.nav-tabs-color li.active{border-top-color:#3c8dbc!important;}
.nav-tabs-color{background:#F8F8F8!important;}

.nav-tab-right{float:right!important;padding:8px 15px 10px 15px;}
.nav-tab-right *{vertical-align:middle;}
.nav-tab-right a{color:#555;}
.nav-tab-right .nav-sep{color:#999;font-size:90%;}
.nav-tab-right .nav-upload{display:inline;}
.nav-tab-right .nav-check-update{display:inline;}
.nav-tab-right .nav-check-update #auto_check{margin:0;}
.nav-tab-right .nav-check-update img{width:12px;}
/*设置*/
.proxy-ip-iframe{
	width:100%;
	min-height:200px;
	max-height:600px;	
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
}

.proxy-ip-box .h-title .glyphicon{font-size:80%;}
.proxy-ip-list .delete-proxy-ip{margin-top:8px;}
.proxy-ip-list .p-ip-info{vertical-align:middle;color:#999;}
.proxy-ip-list .p-top{padding-top:11px;}
.proxy-ip-list .p-top1{padding-top:13px;}

.proxy-api-list .p-api-title{max-width:80%;float:left;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}

/*工具*/
.tool-json-tree{width:100%;overflow:hidden;}
.tool-json-tree ul{list-style:none;margin:0px;padding:0px;padding-left:20px;}
.tool-json-tree li{padding:0;margin:0;}
.tool-json-tree .tree{cursor:pointer;margin-left:-16px;margin-right:2px;}

.tool-json-tree .node{color:#7F007F;}
.tool-json-tree .val{}
.tool-json-tree .text{width:100%;}
.tool-json-tree .text textarea{width:100%;}
/*开发*/
.deve-editor-left{padding-right:0px;}
.deve-editor-right{padding-left:1px;}

.deve-editor-apps{padding-left:5px;list-style:none;}
.deve-editor-apps li{padding:2px 0;width:100%;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
.deve-editor-apps li a{color:#333;}
.deve-editor-apps li.cur a{font-weight:bold;}
/**/
.table-test-loop thead{background:#fafafa;}
.table-test-loop thead th,.table-test-loop thead td{
	padding:0!important;
	-moz-user-select:none;
    -webkit-user-select:none;
    -ms-user-select:none;
    -khtml-user-select:none;
    user-select:none;
}
.table-test-loop thead th>div{
	cursor:w-resize;
	padding:8px;
}
.table-test-loop tbody td{
	position:relative;
}
.table-test-loop input{border:0;overflow:hidden;width:100%;min-width:150px;}
.table-test-loop .view-box{padding-left:20px;}
.table-test-loop .view-ipt{}
.table-test-loop .view-btn{position:absolute;font-size:12px;top:12px;left:5px;}

footer.footer-end{display:none;}

.skin-black .nav-tabs-color li.active,.skin-black-light .nav-tabs-color li.active{border-top-color:#5A6E82!important;}

.skin-green .nav-tabs-color li.active,.skin-green-light .nav-tabs-color li.active{border-top-color:#00a65a!important;}

.skin-red .nav-tabs-color li.active,.skin-red-light .nav-tabs-color li.active{border-top-color:#dd4b39!important;}

.skin-yellow .nav-tabs-color li.active,.skin-yellow-light .nav-tabs-color li.active{border-top-color:#f39c12!important;}

.skin-purple .nav-tabs-color li.active,.skin-purple-light .nav-tabs-color li.active{border-top-color:#605ca8!important;}

/*采集窗口*/
.win-cem-process-body{position:relative;}
.win-cem-process-body #win_cem_process_box{display:block!important;}
.win-cem-process-body .win-cem-ifr-box{margin-left:80px;}

#win_cem_process_box{display:none;}
#win_cem_process_nav{
	border-right:solid 1px #efefef;
	font-size:13px;
	text-align:center;
	position:absolute;
	top:0;
	left:0;
	bottom:0;
	width:80px;
	overflow-y: auto;
}
#win_cem_process_nav>li{padding:0;margin:0;}
#win_cem_process_nav>li>a{padding:6px 0px;line-height:20px;border-bottom:solid 1px #efefef;color:#111;}
#win_cem_process_nav>li>a:hover{background-color:#efefef;border-color:#efefef;}
#win_cem_process_nav>li.active>a{background-color:#efefef;border-color:#efefef;color:#111;font-weight:normal;}
#win_cem_process_nav::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}
#win_cem_process_nav::-webkit-scrollbar-button {
    background-color:#efefef;
}
#win_cem_process_nav::-webkit-scrollbar-track {
    background:#efefef;
}
#win_cem_process_nav::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 4px;
}
.win-cem-ifr-box{width:auto;height:100%;}
.win-cem-ifr-box iframe{width:100%;height:100%;margin:0;border:0;}


@media (min-width: 1200px) {
	/*table-responsive设置overflow:inherit;可正常显示dropdown-menu*/
	.c-p-url-renderer-list{overflow:inherit;} 
	.db-table-bind-where,.db-table-bind-query,.db-table-bind-data{overflow:inherit;}
}

@media (max-width: 1199px) {
	/*dropdown-menu用fixed避免被table-responsive的overflow:hidden;影响*/
	.c-p-url-renderer-list .c-p-url-page-signs .dropdown-menu{padding:0;border:4px solid #ddd;border-radius:4px;background:transparent;position:fixed;left:10px;right:10px;bottom:10px;top:auto;max-height:80%;overflow-y:scroll;}
	.c-p-url-renderer-list .c-p-url-page-signs .dropdown-menu .c-p-url-ps-table{background:#fff;}	
	
	.db-table-bind-signs .dropdown-menu{padding:0;border:4px solid #ddd;border-radius:4px;background:transparent;position:fixed;left:10px;right:10px;bottom:10px;top:auto;max-height:80%;overflow-y:scroll;}
	.db-table-bind-signs .dropdown-menu table{margin:0;}	
}

@media (min-width: 768px) {
	.c-p-url-web-form,.c-p-url-web-header{overflow:inherit;} /*table-responsive设置overflow:inherit;可正常显示dropdown-menu*/
}

@media (max-width: 767px){
	.main-header .logo{
	    width:140px;
	    float: left;
		text-align:left;
	}
	.main-header .navbar {
		width:auto;
		margin-left:140px;
	}
	.main-sidebar, .left-side {
		padding-top:50px;
	}
	.content-wrapper .content{padding-top:8px;}

	.c-p-url-page-signs .dropdown-menu .table td>a,.c-p-url-page-signs .dropdown-menu .table td>span{display:block;margin-right:0;}	
	
	.deve-editor-left,.deve-editor-right{padding-left:15px;padding-right:15px;margin-bottom:10px;}
	
	/*dropdown-menu用fixed避免被table-responsive的overflow:hidden;影响*/
	.c-p-url-web-form .c-p-url-page-signs .dropdown-menu,.c-p-url-web-header .c-p-url-page-signs .dropdown-menu{padding:0;border:4px solid #ddd;border-radius:4px;background:transparent;position:fixed;left:10px;right:10px;bottom:10px;top:auto;max-height:80%;overflow-y:scroll;}
	.c-p-url-web-form .c-p-url-page-signs .dropdown-menu .c-p-url-ps-table,.c-p-url-web-header .c-p-url-page-signs .dropdown-menu .c-p-url-ps-table{background:#fff;}
	/*元素最小宽度，防止太窄无法输入*/
	.table-responsive .table input.form-control{min-width:100px;}
	.table-responsive .table textarea.form-control{min-width:100px;}
}

@media (max-width: 550px){
	/*采集器tab*/
	.coll-tab>li{margin-bottom:5px;width:33%;}
	.coll-tab>li>a{padding:7px 0;border:solid 1px #ddd;text-align:center;}
	.coll-tab>li:nth-child(3).active>a{background:#fff;}
	.coll-tab>li.active>a{border-radius:3px;border-bottom-color:#ddd!important;}
	.coll-tab .nav-save-rule{float:left!important;}
	.coll-tab .nav-save-rule>a{color:#999;}

	.c-p-source-tab>li{margin-bottom:5px;margin-right:3px;width:auto;}
	.c-p-source-tab>li>a{padding:5px 7px;border:solid 1px #ddd;text-align:center;}
	.c-p-source-tab>li.active>a{border-radius:3px;border-bottom-color:#ddd!important;background-color:#efefef!important;}
	
	.mobile-input-group>.input-group-addon{display:table-caption;width:100%;background:#fafafa;margin-bottom:5px;border-right:1px solid #ccc;}
	/*自适应第一个td宽度*/
	.c-p-request-headers td:first-child,.c-p-request-headers-img td:first-child{width:auto;}
	.c-p-url-web-form td:first-child,.c-p-url-web-header td:first-child{width:auto;}
	.p-m-api-table td:first-child,.p-m-api-header-table td:first-child{width:auto;}
	.toapi-param-table td:first-child,.toapi-header-table td:first-child{width:auto;}
}