@CHARSET "UTF-8";
/*采集器面板*/
.coll-panel .panel-heading{background-color:#d2d6de;}
.coll-panel .panel-default .panel-default .panel-heading{background-color:#efefef;}
.coll-panel .panel-heading a{color:#333;}

.coll-alert{color:#333!important;background-color:#f5f5f5!important;border-color:#ddd!important;}

.c-p-source-urls>.form-group:first-child{margin-top:10px;}

#c_p_level_urls tbody{
 	counter-reset:levelcounter;
}
#c_p_level_urls .level:before{
 	content:counter(levelcounter);
	counter-increment:levelcounter;
	font-weight:bold;
}
#c_p_front_urls td.sign,#c_p_level_urls td.sign,#c_p_relation_urls td.sign{
	width:50%;overflow:hidden;padding-bottom:0;
}
#c_p_front_urls .sign-th,#c_p_level_urls .sign-th,#c_p_relation_urls .sign-th{
	padding-left:5px;
}
#c_p_front_urls .signs,#c_p_level_urls .signs,#c_p_relation_urls .signs{
	border:0;padding:0px 5px;height:20px;line-height:14px;font-size:12px;color:#555;background:#fff;
}
/*采集器选项卡*/
.coll-tab > li:nth-child(2).active > a,.coll-tab > li:nth-child(3).active > a{background:#f5f5f5;}
.coll-tab > li{
	-moz-user-select:none;
    -webkit-user-select:none;
    -ms-user-select:none;
    -khtml-user-select:none;
    user-select:none;
}
.coll-tab>li>a{
	border-bottom:0;
}
/*请求头信息*/
.c-p-request-headers table,.c-p-request-headers-img table,.c-p-request-headers-file table{margin-bottom:0}
.c-p-request-headers .delete-request-header,.c-p-request-headers-img .delete-request-header-img,.c-p-request-headers-file .delete-request-header-file{margin-top:8px;}
.c-p-request-headers td:first-child,.c-p-request-headers-img td:first-child,.c-p-request-headers-file td:first-child{width:200px;}
.c-p-request-headers td:last-child,.c-p-request-headers-img td:last-child,.c-p-request-headers-file td:last-child{width:50px;text-align:center;}
/*内容标签*/
.c-p-url-content-signs{
	width:auto;
	overflow:hidden;
}
/*页面源码表单和请求头*/
.c-p-url-web-form table,.c-p-url-web-header table{margin-bottom:0;}
.c-p-url-web-form .delete-url-web-form,.c-p-url-web-header .delete-url-web-header{margin-top:8px;}
.c-p-url-web-form td:first-child,.c-p-url-web-header td:first-child{width:200px;}
.c-p-url-web-form td:last-child,.c-p-url-web-header td:last-child{width:50px;text-align:center;}
/*页面渲染动作*/
.c-p-url-renderer-list table{margin-bottom:0;}
.c-p-url-renderer-list .td-renderer-element,.c-p-url-renderer-list .td-renderer-content{display:none;}
.c-p-url-renderer-list .td-renderer-op{width:65px;text-align:center;vertical-align:middle;}
.c-p-url-renderer-list .td-renderer-op .icon-drag-move{font-size:14px!important;}
.c-p-url-renderer-list .td-renderer-op .input-group-addon:last-child{border-left:1px solid #d2d6de;}
/*显示标签列表，input-group-btn必须position:static，否则dropdown-menu定位太窄*/
.c-p-url-page-signs>.input-group-btn{position:static;}
.c-p-url-page-signs .dropdown-menu{padding:0;box-shadow:none;border:0;}
.c-p-url-page-signs .c-p-url-ps-table{padding:10px;box-shadow:0 0 2px 2px #eee;border:1px solid #ddd;border-radius:4px;}
.c-p-url-page-signs .c-p-url-ps-table .table{margin-bottom:0;}
.c-p-url-page-signs .c-p-url-ps-table .table td>a,.c-p-url-page-signs .dropdown-menu .table td>span{margin-right:5px;}
.c-p-url-page-signs .c-p-url-ps-table .table td>*:last-child{margin-right:0;}
.c-p-url-page-signs .c-p-url-ps-table .table td{white-space:normal!important;width:auto!important;}
.c-p-url-page-signs .c-p-url-ps-table .table td:first-child{white-space:nowrap!important;}
.c-p-url-page-signs .c-p-url-ps-table .table td:last-child{text-align:left!important;}

/*分页字段*/
.c-p-url-pagination-fields{
	width:auto;
	overflow:hidden;
}

/*参数标签样式*/
.param-label{
	font-size:14px;
	font-weight:normal;
	padding: 4px 8px;
    text-decoration: none;
    border-bottom: none;
    color: #3c8dbc;
    border: 1px #ccc solid;
	margin:7px 15px 5px 0;
	position:relative;
	float:left;
}
.param-label em.delete{
    font-style: normal;
    display: block;
    position: absolute;
    top: -7px;
    right: -5px;
    z-index: 999;
	background:#fff;
}

/*采集器字段*/
.c-p-field-list .field-name{color:#3c8dbc;cursor:pointer;}
.c-p-field-list .exist-process{color:green;}
.c-p-field-list thead .sort-field{font-size:12px;color:#cdcdcd;margin-left:5px;display:none;}


.c-p-field-list td .field-process{vertical-align:middle;}
.c-p-field-list td .glyphicon.icon-drag-move{font-size:12px;vertical-align:middle;}
.c-p-field-list td .glyphicon.field-clone{font-size:12px;top:0.3px;vertical-align:middle;}
.c-p-field-list td .glyphicon.field-del{font-size:12px;top:1.1px;vertical-align:middle;}

#coll_tab_content td .glyphicon.icon-drag-move{font-size:12px;vertical-align:middle;}
#coll_tab_content td .glyphicon.clone{font-size:12px;top:0.3px;vertical-align:middle;}
#coll_tab_content td .glyphicon.delete{font-size:12px;top:1.1px;vertical-align:middle;}

.c-p-process-accordion .panel-heading .glyphicon.c-p-process-title{font-size:11px;vertical-align:middle;}
.c-p-process-accordion .panel-heading .glyphicon.icon-drag-move{font-size:12px;vertical-align:middle;}
.c-p-process-accordion .panel-heading .glyphicon.c-p-process-clone{font-size:12px;top:0.3px;vertical-align:middle;}
.c-p-process-accordion .panel-heading .glyphicon.c-p-process-del{font-size:12px;top:1.1px;vertical-align:middle;}
.c-p-process-accordion .panel-heading .panel-title-title{float:left;}
.c-p-process-accordion .panel-heading .panel-title-title input{display:none;border-radius:2px;border:1px solid #ccc;line-height:14px;font-size:12px;margin-left:5px;padding:1px 1px 1px 2px;}
.c-p-process-accordion .panel-heading .panel-title-ops{float:right;line-height:19px;}


.iga-rt{text-align:left;line-height:20px;}
.iga-rt .blk{display:block;}
.iga-rt .mgr{margin-right:5px;}

.iga-rt1{padding:0;vertical-align:top;}
.iga-rt1 .slt{width:100%;min-width:58px;height:24px;display:block;color:#555;font-weight:bold;padding:1px;margin:0;border:0;background:#F1F1F1;}
.iga-rt1 .op{margin:0;padding:3px 6px;list-style:none;}
.iga-rt1 .op li{display:none;}

.nav-save-rule{float:right!important;}


/*数据处理*/
.form-control-slt{width:30px!important;text-align:center;}
.form-control-slt select.form-control{min-width:20px!important;width:20px!important;height:30px!important;float:none!important;border:0!important;padding:0!important;margin:0!important;text-indent:-20px!important;}

.p-m-func-field,.p-m-insert-field{display:inline;width:80px;border:0;cursor:pointer;margin:0;padding:0;height:auto;color:#555;}

.p-m-api-val-field,.p-m-api-header-field{display:none;margin-left:-1px;padding:0;}

.p-m-api-table table,.p-m-api-header-table table{margin-bottom:0;}
.p-m-api-table td:first-child,.p-m-api-header-table td:first-child{width:200px;}
.p-m-api-table td:last-child,.p-m-api-header-table td:last-child{width:50px;text-align:center;}
.p-m-api-rule-module{display:none;}

.p-m-html-tags{}
.p-m-html-tags a{font-size:12px;font-weight:normal;cursor:pointer;margin-right:5px;}
.p-m-html-tags a span{margin-right:2px;color:#999;}
.p-m-if-val-func{position:relative;}
.p-m-if-val-func a.input-group-addon{border-left:0;}
.p-m-if-val-func .input-group-btn>select{margin-left:-1px;width:auto;padding:0;padding-left:5px;text-align:center;}
.p-m-if-op{width:70px;padding:15px 0 0 8px!important;font-size:11px;}
.p-m-if-add{font-size:12px;}

.p-m-download-op{display:none;margin-top:15px;}
/*测试*/
.table-test-loop thead{background:#fafafa;}
.table-test-loop thead th,.table-test-loop thead td{
	padding:0!important;
	-moz-user-select:none;
    -webkit-user-select:none;
    -ms-user-select:none;
    -khtml-user-select:none;
    user-select:none;
}
.table-test-loop thead th>div{
	cursor:w-resize;
	padding:8px;
}
.table-test-loop tbody td{
	position:relative;
}
.table-test-loop input{border:0;overflow:hidden;width:100%;min-width:150px;}
.table-test-loop .view-box{padding-left:20px;}
.table-test-loop .view-ipt{}
.table-test-loop .view-btn{position:absolute;font-size:12px;top:12px;left:5px;}

@media (min-width: 1200px) {
	/*table-responsive设置overflow:inherit;可正常显示dropdown-menu*/
	.c-p-url-renderer-list{overflow:inherit;} 
}

@media (max-width: 1199px) {
	/*dropdown-menu用fixed避免被table-responsive的overflow:hidden;影响*/
	.c-p-url-renderer-list .c-p-url-page-signs .dropdown-menu{padding:0;border:4px solid #ddd;border-radius:4px;background:transparent;position:fixed;left:10px;right:10px;bottom:10px;top:auto;max-height:80%;overflow-y:scroll;}
	.c-p-url-renderer-list .c-p-url-page-signs .dropdown-menu .c-p-url-ps-table{background:#fff;}	
}

@media (min-width: 768px) {
	.c-p-url-web-form,.c-p-url-web-header{overflow:inherit;} /*table-responsive设置overflow:inherit;可正常显示dropdown-menu*/
}

@media (max-width: 767px){
	.c-p-url-page-signs .dropdown-menu .table td>a,.c-p-url-page-signs .dropdown-menu .table td>span{display:block;margin-right:0;}	
	/*dropdown-menu用fixed避免被table-responsive的overflow:hidden;影响*/
	.c-p-url-web-form .c-p-url-page-signs .dropdown-menu,.c-p-url-web-header .c-p-url-page-signs .dropdown-menu{padding:0;border:4px solid #ddd;border-radius:4px;background:transparent;position:fixed;left:10px;right:10px;bottom:10px;top:auto;max-height:80%;overflow-y:scroll;}
	.c-p-url-web-form .c-p-url-page-signs .dropdown-menu .c-p-url-ps-table,.c-p-url-web-header .c-p-url-page-signs .dropdown-menu .c-p-url-ps-table{background:#fff;}
}

@media (max-width: 550px){
	/*采集器tab*/
	.coll-tab>li{margin-bottom:5px;width:33%;}
	.coll-tab>li>a{padding:7px 0;border:solid 1px #ddd;text-align:center;}
	.coll-tab>li:nth-child(3).active>a{background:#fff;}
	.coll-tab>li.active>a{border-radius:3px;border-bottom-color:#ddd!important;}
	.coll-tab .nav-save-rule{float:left!important;}
	.coll-tab .nav-save-rule>a{color:#999;}

	.c-p-source-tab>li{margin-bottom:5px;margin-right:3px;width:auto;}
	.c-p-source-tab>li>a{padding:5px 7px;border:solid 1px #ddd;text-align:center;}
	.c-p-source-tab>li.active>a{border-radius:3px;border-bottom-color:#ddd!important;background-color:#efefef!important;}
	/*自适应第一个td宽度*/
	.c-p-request-headers td:first-child,.c-p-request-headers-img td:first-child{width:auto;}
	.c-p-url-web-form td:first-child,.c-p-url-web-header td:first-child{width:auto;}
	.p-m-api-table td:first-child,.p-m-api-header-table td:first-child{width:auto;}
}