@CHARSET "UTF-8";
#skycaiji_console{
	cursor:default;
	background:#A0C5E8;position:fixed;bottom:0;left:0;right:0;padding:10px;height:50px;z-index:999999;
	font-family:serif;
}
#skycaiji_console *{font-size:14px;border:0;line-height:20px;padding:0;margin:0;font-weight:normal;font-style:normal;}
#skycaiji_console .skycaiji-close{cursor:pointer;position:absolute;font-size:20px;top:1px;right:3px;z-index:9999999;}
#skycaiji_console table{width:90%;line-height:20px;text-align:center;}
#skycaiji_console table textarea{overflow:hidden;width:100%;height:20px;}
#skycaiji_console table em{cursor:pointer;}
#skycaiji_console table em:hover{color:red;}