@CHARSET "UTF-8";
body{padding:0px;margin:0px;}
body>footer{display:none;}
body>.container-fluid{padding:0px;margin:0px;}
#wrapper{width:100%;overflow:hidden;}
#ifr_collector{
	border:0;
	float:left;
	width:35%;
	padding:0;
	margin:0;	
	resize:horizontal;
}
#box_guide{
	padding:0;
	margin:0;
	float:left;
	width:65%;
}
#ifr_browser{
	width:100%;
	overflow:scroll;
	border:0;
	padding:0;
	margin:0;
}
#ifr_browser_box{position:relative;}
#ifr_loading{position:absolute;z-index:999999;top:15px;left:10px;background:url('../images/loading.gif') no-repeat 5px 0px;width:37px;height:32px;}
