@CHARSET "UTF-8";
/*应用中心*/
.content-wrapper .content-header{display:none;}
.content-wrapper .content{padding:0;height:100%;overflow:hidden;position:relative;}
.iframe-main{
	width: 100%;
    height: 100%;
	display:none;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
}
.iframe-loading{position:absolute;left:15px;top:20px;line-height:32px;text-align:center;}
.iframe-loading .loading{float:left;margin-right:5px;}
