<form id="win_form_proxy_batch" method="post" action="{:url('Admin/Proxy/batch')}">
	<input type="hidden" name="is_test" />
    <div class="form-group">
		<label>代理IP（一行一条）</label>
    	<textarea rows="5" name="ips" class="form-control"></textarea>
    </div>
    <div class="form-group">
		<label>匹配格式（对应上面每行的数据）</label>
    	<input type="text" name="format" value="[ip]:[端口]" class="form-control" />
    	<div style="margin:5px 0;" class="format">
    		<a href="javascript:;">[ip]</a>
    		&nbsp;<a href="javascript:;">[端口]</a>
    		&nbsp;<a href="javascript:;">[用户名]</a>
    		&nbsp;<a href="javascript:;">[密码]</a>
    		&nbsp;<a href="javascript:;" title="匹配任意字符">(*)</a>通配符
    	</div>
    </div>
	<div class="form-group">
		<label>代理类型</label>
    	<select name="type" class="form-control">
			{foreach $proxyTypes as $k=>$v}
			<option value="{$v}">{$k}</option>
			{/foreach}
		</select>
    </div>
    <div class="form-group">
		<label>默认设置</label>
		<div class="input-group">
			<span class="input-group-addon">默认用户名</span>
			<input type="text" name="user" class="form-control" />
			<span class="input-group-addon" style="border-left:0;border-right:0;">默认密码</span>
			<input type="text" name="pwd" class="form-control" />
		</div>
		<p class="help-block">当未匹配到用户名时，使用默认设置</p>
	</div>
   	<div class="form-group">
    	<div class="test-result" style="display:none;">
    		<label>IP:端口 - 类型 - 用户名:密码</label>
    		<textarea rows="5" class="form-control"></textarea>
    	</div>
		<button type="button" class="btn btn-default btn-block btn-test">测试</button>
	</div>
   	<div class="form-group">
		<button type="submit" class="btn btn-primary btn-block">提交</button>
	</div>
</form>
<script type="text/javascript">
window.proxyClass.init_batch();
</script>