{extend name="common:main" /}
{block name="cssjs"}
<style type="text/css">
.content-header{display:none;}
.content{padding:0;}
</style>
{/block}
{block name="content"}
<div id="ifrManager" style="width:100%;overflow:hidden;">
<iframe src="{:url('Tool/elfinder?'.url_usertoken())}" style="width:100%;height:100%;padding:0;margin:0;border:0;"></iframe>
</div>
<script type="text/javascript">
var ifrHeight=$(document.body).height()-$('#ifrManager').offset().top;
$('#ifrManager').height(ifrHeight+'px');
</script>
{/block}