{extend name="common:main" /}
{block name="cssjs"}{/block}
{block name="content"}
	<div class="jumbotron" style="height:460px;overflow-y:scroll;">
		<h1>SkyCaiji V{:constant('SKYCAIJI_VERSION')} 安装协议</h1>
		<p>版权所有 ©2018, 南昌卓蓝科技有限公司保留所有权利。</p>

		<p>感谢您使用SkyCaiji（蓝天数据采集发布系统）, 希望我们的努力能为您提供一套数据自动化解决方案！</p>
		
		<p>本协议是您与卓蓝科技之间关于您有关复制、下载、安装、使用SkyCaiji的法律协议，如您不同意本服务条款及卓蓝科技随时对其的修改，您应不使用或主动取消SkyCaiji产品。否则，您的任何对SkyCaiji的相关服务的使用行为将被视为您对本服务条款全部的完全接受，包括接受卓蓝科技对服务条款随时所做的任何修改。</p>
		
		<p>卓蓝科技拥有本软件的全部知识产权。本软件只供许可协议，并非出售。卓蓝科技只允许您在遵守本协议各项条款的情况下复制、下载、安装、使用或者以其他方式受益于本软件的功能或者知识产权。</p>
		
		<p>
		<b>协议许可的权利</b>
		<br/>1、您可以在完全遵守本最终用户授权协议的基础上，将本软件应用于非商业用途，而不必支付软件版权授权费用。
		<br/>2、您可以在协议规定的约束和限制范围内修改 SkyCaiji 源代码或界面风格以适应您的需求。
		<br/>3、您拥有使用本软件生成的全部内容所有权，并独立承担与这些内容的相关法律义务。
		</p>
		<p>
		<b>协议规定的约束和限制</b>
		<br/>1、不得将本软件用于商业用途（包括但不限于企业网站、经营性网站、以营利为目的或实现盈利的网站）。
		<br/>2、未经官方许可，不得对本软件或与之关联的商业授权进行出租、出售、抵押或发放子许可证。
		<br/>3、无论如何，即无论用途如何、是否经过修改或美化、修改程度如何，只要使用SkyCaiji的整体或任何部分，未经书面许可，页面页脚处的版权标识和产品链接（https://www.skycaiji.com） 都必须保留，而不能清除或修改。
		<br/>4、禁止在 SkyCaiji 的整体或任何部分基础上以发展任何派生版本、修改版本或第三方版本用于重新分发。
		<br/>5、如果您未能遵守本协议的条款，您的授权将被终止，所被许可的权利将被收回，并承担相应法律责任。
		</p>
		<p>
		<b>有限担保和免责声明</b>
		<br/>1、本软件及所附带的文件是作为不提供任何明确的或隐含的赔偿或担保的形式提供的。
		<br/>2、卓蓝科技不对网站中使用本软件所生成的数据或信息承担责任，全部责任由您自行承担。
		<br/>3、用户出于自愿而使用本软件，您必须了解使用本软件的风险，在尚未购买产品技术服务之前，我们不承诺对免费用户提供任何形式的技术支持、使用担保，也不承担任何因使用本软件而产生问题的相关责任。
		<br/>4、电子文本形式的授权协议如同双方书面签署的协议一样，具有完全的和等同的法律效力。您一旦开始确认本协议并安装 SkyCaiji，即被视为完全理解并接受本协议的各项条款，在享有上述条款授予的权力的同时，受到相关的约束和限制。协议许可范围以外的行为，将直接违反本授权协议并构成侵权，我们有权随时终止授权，责令停止损害，并保留追究相关责任的权力。
		</p>
		
		<p>蓝天采集官网 <a href="https://www.skycaiji.com">https://www.skycaiji.com</a></p>
	</div>
	<a href="{:url('Install/Index/step1')}" class="btn btn-lg btn-success">接 受</a>
{/block}