{include file="common@common:header" /}
<style type="text/css">
.content-wrapper{background:#fff;}
.breadcrumb{display:none!important;}
.msg_title{
    line-height:30px;
    margin-left:20px;
    color:#2E99D4;
    margin-top:10px;
    font:16px "microsoft yahei",Arial,Verdana;
    font-weight:bold;
}
.msg_message{
    line-height:30px;
    margin-left:20px;
    color:#5C5C5C;
    font:14px "microsoft yahei",Arial,Verdana;
}
</style>

<div style="text-align:center;padding:100px 0;">
	<img src="__PUBLIC__/static/images/error.png" />
	<p class="msg_title">{:strip_tags($msg)}</p>
	<p class="msg_message"><span id="tmv" style="color:red;font-weight:bold;"></span>秒后跳转<a href="{$url}">页面</a></p>
</div>
<script type="text/javascript">
var waitTm={$wait?$wait:'3'};
function goHome(){
	if(waitTm>=1){
		document.getElementById('tmv').innerHTML=waitTm;
		waitTm--;
        setTimeout("goHome()",1000);
	}else{
		window.location.href="{$url}";
	}
}
goHome();
</script>
{include file="common@common:footer" /}