{include file="common@common:header" /}
<div class="container">
	<div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li><a href="{:url('Admin/Index/index')}">后台管理</a></li>
            <li><a href="__ROOT__/admin">伪静态入口</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">蓝天采集器 V{:constant('SKYCAIJI_VERSION')}</h3>
    </div>
    
	<div class="jumbotron">
		<h2 style="font-size:26px;">欢迎使用SkyCaiji（蓝天数据采集发布系统）</h2>
		<p>SkyCaiji致力于网站数据自动化采集发布，使数据采集便捷化、智能化、云端化。</p>
		<p>程序可部署在云端服务器，您只需浏览器访问即可操作编写规则采集目标数据，自定义采集规则支持任意信息流精准匹配，发布模块可无缝对接各类cms建站程序及自行开发的程序，采集到的数据可实时同步到您的网站，程序内置云端规则中心，方便您分享及下载采集规则，程序完美适应电脑端和移动端，功能一致，使您随时随地办公。
		官方网站：<a href="https://www.skycaiji.com" title="蓝天采集器">www.skycaiji.com</a></p>
		
		<p>本页面可在<a href="{:url('Admin/Setting/site')}">站点设置</a>中关闭</p>
	</div>
</div>
{include file="common@common:footer" /}