{if condition="!empty($releList)"}
<div id="window_reles">
	<ul class="row" id="rele_list">
	{foreach name="releList" item="rele"}
	<li class="col-xs-6" style="padding:0;">
		<a href="javascript:;" data-id="{$rele['id']}">
			{if condition="!empty($taskNames[$rele['task_id']])"}
			任务：{$taskNames[$rele['task_id']]}
			{else /}
			发布：{$rele['name']}
			{/if}
		</a>
	</li>
	{/foreach}
	</ul>
	{$pagenav}
	<script type="text/javascript">
	$('#window_reles #rele_list li a').bind('click',function(){
		var id=$(this).attr('data-id');
		var name=$(this).text();
		releaseClass.import(id,name);
	});
	$('#window_reles .pagination').addClass('pagination-sm');
	$('#window_reles .pagination a').bind('click',function(){
		windowModal('导入规则',$(this).attr('href'));
		return false;
	});
	</script>
</div>
{else /}
	没有发布设置
{/if}