<form id="form_item" method="post" enctype="multipart/form-data" action="{:url('Task/'.($taskData?'edit':'add'))}">
<div class="box box-default">
<div class="box-body">	
	{if condition="$taskData"}
	<input type="hidden" name="id" value="{$taskData['id']}" />
	{/if}
	<input type="hidden" name="task_id" value="" />
	<input type="hidden" name="rule_id" value="" />
    <div class="form-group">
        <label>{$Think.lang.task_name}</label>
		{if condition="$taskData"}
        <input name="name" class="form-control" value="{$taskData['name']}">
        {else/}
		<div class="input-group">
        	<input name="name" class="form-control" value="">
        	<div class="input-group-btn"><button class="btn btn-default" onclick="windowModal('复制一个任务的所有设置','{:url("Task/list?show=import")}');" type="button" id="btn_import_task">导入任务</button></div>
   		</div>
        {/if}
    </div>
    <div class="form-group">
        <label>{$Think.lang.task_tg}</label>
        {$tgSelect}
    </div>
    <div class="form-group">
        <label>{$Think.lang.task_module}</label>
        <div class="input-group" style="width:100%;">
	        <select name="module" class="form-control">
	        	{foreach name="Think.config.allow_coll_modules" item="cmodule"}
	           	<option value="{$cmodule}">{:lang('task_module_'.$cmodule)}</option>
	        	{/foreach}
	        </select>
	        <div class="input-group-btn dropdown">
			  <button class="btn btn-default dropdown-toggle" type="button" id="btn_import_rule" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			   	导入规则
			  	<span class="caret"></span>
			  </button>
			  <ul class="dropdown-menu dropdown-menu-right dropdown-import-rule" aria-labelledby="btn_import_rule">
			  	<li><a href="javascript:;" onclick="windowModal('导入规则会覆盖该任务的采集器设置，且不可恢复','{:url("Mystore/rule?tpl=task&type=collect")}');">已下载规则</a></li>
			  	<li><a href="javascript:;" onclick="windowModal('导入规则会覆盖该任务的采集器设置，且不可恢复','{:url("Collector/list?module=pattern&tpl=task")}');">其它任务的规则</a></li>
			  	<li role="separator" class="divider"></li>
			  	<li style="padding-left:20px;padding-bottom:5px;"><input type="file" name="rule_file" /></li>
			  </ul>
			</div>
		</div>
    </div>
    <div class="form-group">
        <label>{$Think.lang.task_auto}</label>
        <div class="input-group">
        	<label class="radio-inline"><input type="radio" name="auto" value="1">{$Think.lang.yes}</label>
        	<label class="radio-inline"><input type="radio" name="auto" value="0">{$Think.lang.no}</label>
        </div>
    </div>
   	<div class="form-group">
       	<label>{$Think.lang.task_sort}</label>
		<input type="text" class="form-control" name="sort" autocomplete="off" value="{$taskData['sort']|intval}" />
		<p class="help-block">{$Think.lang.task_sort_help}</p>
	</div>
</div>
</div>
<div class="panel panel-default">
	<div class="panel-heading">
		<h4 class="panel-title">
			<a data-toggle="collapse" href="#task_config" aria-expanded="false">更多设置</a>
    	</h4>
   	</div>
    <div id="task_config" class="panel-collapse collapse">
    	<div class="panel-body">
		    <p class="help-block">以下选项受<a href="{:url('Setting/caiji')}">采集设置</a>影响</p>
		    <div class="form-group">
		        <label>每次采集数量</label>
		        <input type="number" name="config[num]" class="form-control" value="{$taskData['config']['num']}">
		        <p class="help-block">该任务每次采集的数据量，不能超过采集设置中的“每次采集数量”</p>
		    </div>
		    <div class="form-group">
		        <label>使用代理</label>
		        <div class="input-group">
			        <label class="radio-inline"><input type="radio" name="config[proxy]" value="">默认</label>
			        <label class="radio-inline"><input type="radio" name="config[proxy]" value="y">是</label>
					<label class="radio-inline"><input type="radio" name="config[proxy]" value="n">否</label>
		        </div>
		    </div>
		    
		    <div class="form-group">
		        <label>图片本地化</label>
		        <div class="input-group">
			        <label class="radio-inline"><input type="radio" name="config[download_img]" value="">默认</label>
			        <label class="radio-inline"><input type="radio" name="config[download_img]" value="y">是</label>
					<label class="radio-inline"><input type="radio" name="config[download_img]" value="n">否</label>
		        </div>
		    </div>
		    <div class="form-group">
	        	<label>图片保存目录（绝对路径）</label>
		        <input type="text" name="config[img_path]" class="form-control" placeholder="默认设置">
		    </div>
		    <div class="form-group">
	        	<label>图片链接地址（绝对地址）</label>
		        <input type="text" name="config[img_url]" class="form-control" placeholder="默认设置">
		    </div>
		    <div class="form-group">
	        	<label>图片名称</label>
		       	<select name="config[img_name]" class="form-control">
		       		<option value="">默认设置</option>
		       		<option value="time">按时间生成（方便日期归类）</option>
		       		<option value="url">按网址生成（防止重复下载）</option>
		       		<option value="custom">自定义</option>
		       	</select>
		       	<div id="config_img_name_custom" style="margin-top:5px;display:none;">
		       		<p class="help-block" style="margin-bottom:5px;font-size:12px;">注意：字段值的长度限制100字内（超出自动截取），字段值中任何特殊字符都会被替换成下划线，自定义路径或名称太长都可能导致图片保存失败</p>
	       			<div style="width:100%;">
	       				<div style="width:50%;float:left">
		       				<div class="input-group">
		       					<input type="text" name="config[name_custom_path]" class="form-control" placeholder="路径，默认设置" autocomplete="off" />
		       					<div class="input-group-addon" style="border-left:0;border-right:0;font-weight:bold;">/</div>
		       				</div>
		       				<div class="help-block name-custom-path">
		       					<div class="dropup" style="display:inline;">
									<a class="dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										系统
										<span class="caret"></span>
									</a>
									<ul class="dropdown-menu">
										<li><a href="javascript:;" data-val="[年]">[年]</a></li>
										<li><a href="javascript:;" data-val="[月]">[月]</a></li>
										<li><a href="javascript:;" data-val="[日]">[日]</a></li>
										<li><a href="javascript:;" data-val="[时]">[时]</a></li>
										<li><a href="javascript:;" data-val="[分]">[分]</a></li>
										<li><a href="javascript:;" data-val="[秒]">[秒]</a></li>
										<li><a href="javascript:;" data-val="[前两位]" title="图片网址MD5码的前两位">[前两位]</a></li>
										<li><a href="javascript:;" data-val="[后两位]" title="图片网址MD5码的后两位">[后两位]</a></li>
										<li><a href="javascript:;" data-val="[任务名]">[任务名]</a></li>
										<li><a href="javascript:;" data-val="[任务ID]">[任务ID]</a></li>
									</ul>
								</div>&nbsp;
				       			<div class="dropup" style="display:inline;">
									<a class="dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										采集器字段
										<span class="caret"></span>
									</a>
									<ul class="dropdown-menu name-custom-path-fields">
										<li><a href="javascript:;">没有字段，请先配置采集器设置！</a></li>
									</ul>
								</div>&nbsp;
				       			用/分隔子目录
				       		</div>
	       				</div>
	       				<div style="width:50%;float:left">
		       				<input type="text" name="config[name_custom_name]" class="form-control" placeholder="名称，默认设置" autocomplete="off" />
	       					<div class="help-block name-custom-name">
		       					<div class="dropup" style="display:inline;">
									<a class="dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										系统
										<span class="caret"></span>
									</a>
									<ul class="dropdown-menu">
										<li><a href="javascript:;" data-val="[图片网址MD5码]">[图片网址MD5码]</a></li>
										<li><a href="javascript:;" data-val="[图片原名]">[图片原名]</a></li>
										<li><a href="javascript:;" data-val="[年]">[年]</a></li>
										<li><a href="javascript:;" data-val="[月]">[月]</a></li>
										<li><a href="javascript:;" data-val="[日]">[日]</a></li>
										<li><a href="javascript:;" data-val="[时]">[时]</a></li>
										<li><a href="javascript:;" data-val="[分]">[分]</a></li>
										<li><a href="javascript:;" data-val="[秒]">[秒]</a></li>
										<li><a href="javascript:;" data-val="[前两位]" title="图片网址MD5码的前两位">[前两位]</a></li>
										<li><a href="javascript:;" data-val="[后两位]" title="图片网址MD5码的后两位">[后两位]</a></li>
										<li><a href="javascript:;" data-val="[任务名]">[任务名]</a></li>
										<li><a href="javascript:;" data-val="[任务ID]">[任务ID]</a></li>
									</ul>
								</div>&nbsp;
				       			<div class="dropup" style="display:inline;">
									<a class="dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										采集器字段
										<span class="caret"></span>
									</a>
									<ul class="dropdown-menu name-custom-name-fields">
										<li><a href="javascript:;">没有字段，请先配置采集器设置！</a></li>
									</ul>
								</div>
				       		</div>
	       				</div>
		       		</div>
		       	</div>
		    </div>
    	</div>
    </div>
</div>
<div class="form-group">
	<button type="submit" class="btn btn-primary btn-block">{$Think.lang.save}</button>
</div>
</form>

<script type="text/javascript">
//导入规则
function import_rule(ruleId,ruleName){
	$('#form_item input[name="rule_id"]').val(ruleId);
	$('#btn_import_rule').text('导入规则：'+ruleName);
	if(ruleId!='file'){
		//不是文件规则
		$('#form_item [name="rule_file"]').val('');
	}
	$('#myModal').modal('hide');
}
//导入任务
function import_task(id,name){
	$('#form_item input[name="task_id"]').val(id);
	$('#btn_import_task').text('导入任务：'+name);
	$('#myModal').modal('hide');
}

(function(){
	//模块显示导入
	$('#form_item select[name="module"]').bind('change',function(){
		if($(this).val()!='pattern'){
			$('#btn_import_rule').parents('.input-group-btn').hide();
		}else{
			$('#btn_import_rule').parents('.input-group-btn').show();
		}
	});
	//导入本地规则
	$('#form_item [name="rule_file"]').bind('change',function(){
		import_rule('file',$(this).val());
		$(this).parents('.dropdown').removeClass('open');
	});
	//图片名称自定义
	$('#form_item [name="config[img_name]"]').bind('change',function(){
		if($(this).val()=='custom'){
			$('#config_img_name_custom').show();
		}else{
			$('#config_img_name_custom').hide();
		}
	});
	$('#config_img_name_custom').on('click','.name-custom-path a[data-val]',function(){
		insertAtCaret($('[name="config[name_custom_path]"]'),$(this).attr('data-val'));
	});
	$('#config_img_name_custom').on('click','.name-custom-name a[data-val]',function(){
		insertAtCaret($('[name="config[name_custom_name]"]'),$(this).attr('data-val'));
	});
})();

{if condition="!empty($taskData)"}
(function(){
	$('#form_item select[name="tg_id"]').val("{$taskData['tg_id']|intval}");
	$('#form_item select[name="auto"]').val("{$taskData['auto']|intval}");
	$('#form_item select[name="module"]').val("{$taskData['module']}");
	$('#form_item input[name="auto"][value="{$taskData["auto"]|intval}"]').prop('checked','checked');
	$('#form_item [name="config[download_img]"][value="{$taskData["config"]["download_img"]}"]').prop('checked','checked');
	$('#form_item [name="config[proxy]"][value="{$taskData["config"]["proxy"]}"]').prop('checked','checked');
	
	var task_config={:json_encode($taskData["config"])};
	for(var i in task_config){
		if(task_config[i]){
			$('#task_config').addClass('in');
			break;
		}
	}
	
	//图片设置
	$('#form_item [name="config[img_path]"]').val(task_config.img_path);
	$('#form_item [name="config[img_url]"]').val(task_config.img_url);

	$('#form_item [name="config[img_name]"]').val(task_config.img_name).trigger('change');
	$('#form_item [name="config[name_custom_path]"]').val(task_config.name_custom_path);
	$('#form_item [name="config[name_custom_name]"]').val(task_config.name_custom_name);
	
	
	//图片自定义插入字段
	var field_list={:json_encode($fieldList)};
	if(field_list&&field_list.length>0){
		$('#config_img_name_custom .name-custom-path-fields').html('');//清空
		$('#config_img_name_custom .name-custom-name-fields').html('');//清空
		for(var i in field_list){
			var fieldHtml='[字段:'+field_list[i]+']';
			fieldHtml='<li><a href="javascript:;" data-val="'+fieldHtml+'">'+fieldHtml+'</a></li>';
			$('#config_img_name_custom .name-custom-path-fields').append(fieldHtml);
			$('#config_img_name_custom .name-custom-name-fields').append(fieldHtml);
		}
	}
})();
{/if}
</script>