<form id="win_form_provider" method="post" ajax-submit="true" role="form" action="{:url('Provider/save')}">
	{if !empty($proData)}
	<input type="hidden" name="id" value="{$proData['id']}" />
	{/if}
   	<div class="form-group">
       	<label>网址</label>
		<input type="text" class="form-control" name="url" value="">
		<p class="help-block">必须输入前缀http://或https://</p>
	</div>
   	<div class="form-group">
       	<label>标题</label>
		<input type="text" class="form-control" name="title" value="" placeholder="默认自动获取网页标题">
	</div>
   	<div class="form-group">
       	<label>访问</label>
       	<div class="input-group">
	      	<label class="radio-inline">
	      		<input type="radio" name="enable" value="1"> 允许
	      	</label>
	      	<label class="radio-inline">
	      		<input type="radio" name="enable" value="0"> 拒绝
	      	</label>
      	</div>
		<p class="help-block">允许从该网站中下载规则、插件等</p>
	</div>
   	<div class="form-group">
       	<label>排序</label>
		<input type="text" class="form-control" name="sort" value="0">
		<p class="help-block">数字越大越靠前</p>
	</div>
	<button type="submit" class="btn btn-primary">{$Think.lang.submit}</button>
</form>
{if !empty($proData)}
<script type="text/javascript">
providerClass.load({$proData|json_encode});
</script>
{/if}