<form id="win_form_provider" method="post" role="form" action="{:url('Provider/save')}">
{:html_usertoken()}	
	<input type="hidden" name="same_as_pwd" value="" />
	{if !empty($proData)}
	<input type="hidden" name="id" value="{$proData['id']}" />
	{/if}
   	<div class="form-group">
       	<label>平台网址</label>
		<input type="text" class="form-control" name="url" value="">
		<p class="help-block">输入第三方平台网址，必须带前缀http://或https://</p>
	</div>
   	<div class="form-group">
       	<label>平台名称</label>
		<input type="text" class="form-control" name="title" value="" placeholder="默认自动获取网页标题">
	</div>
	<div class="form-group">
        <label>通信密钥</label>
		<input type="text" name="authkey" class="form-control" value="" placeholder="全局设置：{:g_sc_c('store','authkey')?g_sc_c('store','authkey'):'空值'}">
		<p class="help-block">与平台通信时验证该密钥，留空使用<a href="{:url('Setting/store')}" target="_blank">全局设置</a></p>
    </div>
   	<div class="form-group">
       	<label>访问</label>
       	<div class="input-group">
	      	<label class="radio-inline">
	      		<input type="radio" name="enable" value="1"> 允许
	      	</label>
	      	<label class="radio-inline">
	      		<input type="radio" name="enable" value="0" checked="checked"> 拒绝
	      	</label>
      	</div>
		<p class="help-block">允许从该平台中下载规则、插件等</p>
	</div>
   	<div class="form-group">
       	<label>排序</label>
		<input type="number" class="form-control" name="sort" value="0">
		<p class="help-block">数字越大越靠前</p>
	</div>
	<button type="submit" class="btn btn-primary btn-block">{$Think.lang.submit}</button>
</form>
<script type="text/javascript">
providerClass.init_prov({$proData?json_encode($proData):''});
</script>