<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
	<title>蓝天采集器 SkyCaiji</title>
	<!-- Bootstrap core CSS -->
	<link rel="stylesheet" href="__PUBLIC__/bootstrap/css/bootstrap.min.css?{$Think.config.HTML_V}">
	
	<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
	<link href="__PUBLIC__/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
	
	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	<script src="__PUBLIC__/js/html5shiv.min.js?{$Think.config.HTML_V}"></script>
	<script src="__PUBLIC__/js/respond.min.js?{$Think.config.HTML_V}"></script>
	<![endif]-->
	
  	<!-- jQuery 3.1.1 -->
	<script src="__PUBLIC__/js/jquery-3.1.1.min.js?{$Think.config.HTML_V}"></script>
	<!-- else -->
  	<link href="__PUBLIC__/css/toastr.css?{$Think.config.HTML_V}" rel="stylesheet" type="text/css">
  	<script src="__PUBLIC__/js/toastr.js?{$Think.config.HTML_V}"></script>
	<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
	<script src="__PUBLIC__/js/ie10-viewport-bug-workaround.js?{$Think.config.HTML_V}"></script><!-- jQuery UI 1.11.4 -->
	<script src="__PUBLIC__/js/jquery-ui.min.js?{$Think.config.HTML_V}"></script>
	<!-- Bootstrap 3.3.7 -->
	<script src="__PUBLIC__/adminlte/bootstrap/js/bootstrap.min.js?{$Think.config.HTML_V}"></script>
	<!-- custom -->
	<script src="__PUBLIC__/js/common.js?{$Think.config.HTML_V}"></script>
	<link href="__PUBLIC__/css/home.css?{$Think.config.HTML_V}" rel="stylesheet">
</head>
<body>