@CHARSET "UTF-8";
body{
	top:0px!important;
}
.goog-te-banner-frame{
	display:none!important;
}
.goog-text-highlight{
	background-color: transparent!important;
	-webkit-box-shadow: 0 0px 0px rgba(0, 0, 0, 0)!important;
	-moz-box-shadow: 0 0px 0px rgba(0, 0, 0, 0)!important;
	box-shadow: 0 0px 0px rgba(0, 0, 0, 0)!important;
}
#goog-gt-tt{
	display:none!important;
}
.goog-te-menu-value{
	cursor:move!important;
}