{extend name="common:main" /}
{block name="cssjs"}
<script src="__PUBLIC__/static/js/admin/store.js?{$Think.config.html_v}"></script>
{/block}
{block name="content"}
<div class="box">
	<div class="box-body">
		{if condition="!empty($collectRules)"}
		<div class="page-header"><span class="glyphicon glyphicon-th-list"></span> <a href="{:url('Mystore/rule')}">采集规则</a><i class="ph-more"><a href="{:url('Mystore/rule')}">更多 &gt;</a></i></div>
		{foreach name="collectRules" item="rule"}
		<div class="col-xs-6 col-sm-4"><a href="https://www.skycaiji.com/collect/rule/detail?id={$rule['store_id']}" class="store-detail">{$rule['name']}</a></div>
		{/foreach}
		{/if}
	</div>
</div>
<script type="text/javascript">
storeClass.init_my();
</script>
{/block}