{if condition="!empty($ruleList)"}
<div id="window_rules">
	<ul class="row" id="rule_list">
	{foreach name="ruleList" item="rule"}
	<li class="col-xs-6" style="padding:0;"><a href="javascript:;" data-id="{$rule['id']}">{$rule['name']}</a></li>
	{/foreach}
	</ul>
	{$pagenav}
	<script type="text/javascript">
	$('#window_rules #rule_list li a').bind('click',function(){
		var id=$(this).attr('data-id');
		var name=$(this).text();
		import_rule('rule:'+id,name);
	});
	$('#window_rules .pagination').addClass('pagination-sm');
	$('#window_rules .pagination a').bind('click',function(){
		windowModal('导入规则',$(this).attr('href'));
		return false;
	});
	</script>
</div>
{else /}
	您没有规则，请进入<a href="{:url('Store/index')}">云平台</a>下载
{/if}